<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Old Twitter - Settings</title>
    <link rel="preconnect" href="https://twitter.com">
</head>
<body>
    <div id="loading-box">
        <div id="loading-box-container">
            <span id="loading-box-text"></span>
        </div>
    </div>
    <header></header>
    <main id="container">
		<div id="content">
            <div class="cell" id="left-cell">
                <div id="user-div" class="box">
                    <img id="user-banner" height="100" width="300">
                    <div id="user-data">
                        <a id="user-avatar-link"><img id="user-avatar" width="70" height="70"></a>
                        <a id="user-info">
                            <h1 id="user-name">Loading</h1>
                            <h2 id="user-handle">@loading</h2>
                        </a>
                        <div id="user-stats">
                            <div class="user-stat-div">
                                <h2>Tweets</h2>
                                <h1 id="user-tweets">0</h1>
                            </div>
                            <div class="user-stat-div">
                                <h2>Following</h2>
                                <h1 id="user-following">0</h1>
                            </div>
                            <div class="user-stat-div">
                                <h2>Followers</h2>
                                <h1 id="user-followers">0</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="trends" class="box">
                    <h1>Trends</h1>
                    <div id="trends-list">
                    </div>
                </div>
            </div>
            <div class="cell" id="center-cell">
                <div id="settings" class="box">
                    <h1>Twitter settings</h1><br>
                    <a href="https://mobile.twitter.com/settings/profile">Edit profile</a><br>
                    <a href="https://mobile.twitter.com/settings">Edit Twitter settings</a><br>                    
                    <hr>
                    <h1>OldTwitter settings</h1><br>
                    <span>Refresh tabs to apply settings.</span><br><br>
                    <div class="setting">
                        <input type="checkbox" id="chronological-tl"> <label for="chronological-tl">Chronological timeline / Disable algo-timeline</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="show-topic-tweets"> <label for="show-topic-tweets">Show topic tweets (algo only)</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="link-colors-in-tl"> <label for="link-colors-in-tl">Show custom link colors of users in home timeline</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="enable-twemoji"> <label for="enable-twemoji">Enable twemoji</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="hearts-instead-stars"> <label for="hearts-instead-stars">Show hearts (likes) instead of stars (favorites)</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="dark-mode"> <label for="dark-mode">Dark mode</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="disable-hotkeys"> <label for="disable-hotkeys">Disable hotkeys</label>. <a target="_blank" href="https://github.com/dimdenGD/OldTwitter#hotkeys">See list of hotkeys here.</a>
                    </div>
                    <div class="setting">
                        <input type="color" id="link-color"> <label for="link-color">Default link color</label>
                    </div>
                    <div class="setting">
                        <select id="font"></select> <label for="font">Font</label>
                    </div>
                    <hr>
                    <h1>Link color synchronization</h1><br>
                    <span>
                        By pressing Sync button your profile link color will be sent to colors database and shown to other extension users.<br>
                        If you have set Twitter link color before years ago, it'll override your old color.
                    </span><br>
                    <br>
                    <div class="setting">
                        <input type="color" id="profile-link-color"> <label for="profile-link-color">Profile link color</label>
                    </div>
                    <div id="color-preview">
                        <div id="color-preview-light">Light mode link</div>
                        <div id="color-preview-dark">Dark mode link</div>
                    </div>
                    <br>
                    <button class="nice-button" id="sync">Sync</button>
                    <hr>
                    <h1>Custom CSS</h1><br>
                    <span>
                        Override default CSS variables. Type them as <code>--some-variable: property</code>. Split by newline.<br>
                        <a target="_blank" href="https://github.com/dimdenGD/OldTwitter/blob/master/layouts/header/script.js#L1374">See list of default CSS variables here.</a>
                    </span><br><br>
                    <div class="setting">
                        <textarea type="text" style="height: 71px; width: 550px;" id="custom-css-variables" placeholder="--background-color: #1b2836&#10;--darker-background-color: #141d26"></textarea>
                    </div>
                    <button class="nice-button" id="custom-css-variables-save">Save variables</button>
                    <br><br>
                    <span>Custom CSS to add on every page.</span>
                    <br><br>
                    <div class="setting">
                        <textarea type="text" style="height: 71px; width: 550px;" id="custom-css" placeholder="body {&#10;    background-color: blue !important;&#10;}"></textarea>
                    </div>
                    <button class="nice-button" id="custom-css-save">Save CSS</button>
                </div>
            </div>
            <div class="cell" id="right-cell">
                <div id="wtf" class="box">
                    <h1>Who to follow</h1><br>
                    <span id="wtf-refresh">Refresh</span> · <a id="wtf-viewall" target="_blank" href="https://mobile.twitter.com/i/connect_people?user_id=">View all</a>
                    <br><br>
                    <div id="wtf-list"></div>
                </div>
                <div id="about">
                    <span>
                        Running <a href="https://github.com/dimdenGD/OldTwitter" target="_blank">OldTwitter</a> v<span id="oldtwitter-version">0.0.0</span>.<br>
                        Created by <a href="https://dimden.dev/" target="_blank">dimden</a>.<br>
                    </span>
                    <br>
                    <div class="about-links">
                        <span>© 2022 dimden</span> 
                        <a href="https://dimden.dev/" target="_blank">Website</a>
                        <a href="/dimdenEFF">Twitter</a>
                        <a href="https://dimden.dev/donate" target="_blank" id="donate-button">Donate</a>
                    </div>
                    <div class="about-links">
                        <span>© 2015 Twitter</span> 
                        <a href="/about">About</a>
                        <a href="https://support.twitter.com">Help</a>
                        <a href="/tos">Terms</a>
                        <a href="/privacy">Privacy</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </main>
</body>
</html>