<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>__MSG_settings__ - Twitter</title>
    <link rel="preconnect" href="https://twitter.com">
</head>
<body>
    <div id="loading-box">
        <div id="loading-box-container">
            <span id="loading-box-text"></span>
        </div>
    </div>
    <header></header>
    <main id="container">
		<div id="content">
            <div class="cell" id="left-cell">
                <div id="user-div" class="box">
                    <img id="user-banner" height="100" width="300">
                    <div id="user-data">
                        <a id="user-avatar-link"><img id="user-avatar" width="70" height="70"></a>
                        <a id="user-info">
                            <h1 id="user-name">__MSG_loading__</h1>
                            <h2 id="user-handle">@loading</h2>
                        </a>
                        <div id="user-stats">
                            <a class="user-stat-div" id="user-tweets-div">
                                <h2>__MSG_tweets__</h2>
                                <h1 id="user-tweets">0</h1>
                            </a>
                            <a class="user-stat-div" id="user-following-div">
                                <h2>__MSG_following__</h2>
                                <h1 id="user-following">0</h1>
                            </a>
                            <a class="user-stat-div" id="user-followers-div">
                                <h2>__MSG_followers__</h2>
                                <h1 id="user-followers">0</h1>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="trends" class="box">
                    <h1>__MSG_trends__</h1>
                    <div id="trends-list">
                    </div>
                </div>
            </div>
            <div class="cell" id="center-cell">
                <div id="settings" class="box">
                    <h1>__MSG_twitter_settings__</h1><br>
                    <a href="https://twitter.com/settings/profile?newtwitter=true">__MSG_edit_profile__</a><br>
                    <a href="https://twitter.com/settings?newtwitter=true">__MSG_edit_twitter_settings__</a><br>                    
                    <hr>
                    <h1>__MSG_oldtwitter_settings__</h1><br>
                    <span>__MSG_refresh_tabs__</span><br><br>
                    <div class="setting">
                        <select id="language">
                            <option value="en">English</option>
                            <option value="es">Español (Spanish)</option>
                            <option value="ru">Русский (Russian)</option>
                            <option value="pt_BR">Português do Brasil (Brazilian Portuguese)</option>
                            <option value="zh_CN">中文 (Chinese)</option>
                            <option value="ja">日本語 (Japanese)</option>
                            <option value="ko">한국어 (Korean)</option>
                            <option value="fr">Français (French)</option>
                            <option value="tr">Türkçe (Turkish)</option>
                            <option value="ar">العربية  (Arabic)</option>
                            <option value="pl">Polski (Polish)</option>
                            <option value="uk">Українська (Ukrainian)</option>
                            <option value="it">Italiano (Italian)</option>
                            <option value="ro">Română (Romanian)</option>
                            <option value="lv">Latviešu (Latvian)</option>
                            <option value="th">ภาษาไทย (Thai)</option>
                            <option value="vi">Tiếng Việt (Vietnamese)</option>
                            <option value="cs">Český (Czech)</option>
                            <option value="el">Ελληνικά (Greek)</option>
                            <option value="nl">Nederlands (Dutch)</option>
                            <option value="tl">Tagalog (Filipino)</option>
                            <option value="he">עִברִית (Hebrew)</option>
                            <option value="ne">नेपाली (Nepali)</option>
                        </select>
                        <label for="show-topic-tweets">__MSG_language__</label>
                    </div>
                    <div class="setting">
                        <select id="tl-type">
                            <option value="chrono">__MSG_chrono__</option>
                            <option value="chrono-no-retweets">__MSG_chrono_no_retweets__</option>
                            <option value="chrono-retweets">__MSG_chrono_retweets__</option>
                            <option value="chrono-social">__MSG_chrono_social__</option>
                            <option value="algo">__MSG_algo__</option>
                        </select>
                        <label for="tl-type">__MSG_timeline_type__</label>
                    </div>
                    <div class="setting" id="stt-div" hidden>
                        <input type="checkbox" id="show-topic-tweets"> <label for="show-topic-tweets">__MSG_show_topic_tweets__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="display-sensitive-content"> <label for="display-sensitive-content">__MSG_display_sensitive_content__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="disable-hotkeys"> <label for="disable-hotkeys">__MSG_disable_hotkeys__</label>. <a target="_blank" href="https://github.com/dimdenGD/OldTwitter#hotkeys">__MSG_hotkeys_list__.</a>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="no-big-font"> <label for="no-big-font">__MSG_no_big_font__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="see-tweet-views"> <label for="see-tweet-views">__MSG_see_tweet_views__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="twitter-blue-checkmarks"> <label for="twitter-blue-checkmarks">__MSG_twitter_blue_checkmarks__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="autoplay-videos"> <label for="autoplay-videos">__MSG_autoplay_videos__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="save-preferred-quality"> <label for="save-preferred-quality">__MSG_save_preferred_quality__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="show-original-images"> <label for="show-original-images">__MSG_show_original_images__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="update-timeline-automatically"> <label for="update-timeline-automatically">__MSG_update_timeline_automatically__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="developer-mode"> <label for="developer-mode">__MSG_developer_mode__</label>
                    </div>
                    <div class="setting">
                        <span>__MSG_copy_tweet_links_as__</span> 
                        <select id="copy-links-as">
                            <option value="twitter.com">twitter.com</option>
                            <option value="fxtwitter.com">fxtwitter.com</option>
                            <option value="vxtwitter.com">vxtwitter.com</option>
                            <option value="nitter.net">nitter.net</option>
                            <option value="custom">custom</option>
                        </select>
                    </div>
                    <hr>
                    <h1>__MSG_display__</h1><br>
                    <div class="setting">
                        <input type="checkbox" id="link-colors-in-tl"> <label for="link-colors-in-tl">__MSG_show_colors_in_timeline__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="enable-twemoji"> <label for="enable-twemoji">__MSG_enable_twemoji__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="hearts-instead-stars"> <label for="hearts-instead-stars">__MSG_hearts_instead_stars__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="dark-mode"> <label for="dark-mode" id="dark-mode-text">__MSG_dark_mode__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="pitch-black-mode"> <label for="pitch-black-mode">__MSG_pitch_black_mode__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="time-mode"> <label for="time-mode">__MSG_time_mode__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="round-avatars-switch"> <label for="round-avatars-switch">__MSG_round_avatars__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="use-new-icon"> <label for="use-new-icon">__MSG_use_new_icon__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="hide-trends"> <label for="hide-trends">__MSG_hide_trends__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="hide-wtf"> <label for="hide-wtf">__MSG_hide_wtf__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="hide-likes"> <label for="hide-likes">__MSG_hide_likes__</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="hide-followers"> <label for="hide-followers">__MSG_hide_followers__</label>
                    </div>
                    <div class="setting">
                        <input type="color" id="link-color"> <label for="link-color">__MSG_default_link_color__</label>
                    </div>
                    <div class="setting">
                        <select id="font"></select> <label for="font">__MSG_font__</label>
                    </div>
                    <hr>
                    <h1>__MSG_color_sync__</h1><br>
                    <span>
                        __MSG_by_pressing_sync__<br>
                        __MSG_color_years_ago__
                    </span><br>
                    <br>
                    <div class="setting">
                        <input type="color" id="profile-link-color"> <label for="profile-link-color">__MSG_profile_link_color__</label>
                    </div>
                    <div id="color-preview">
                        <div id="color-preview-light">__MSG_light_mode_link__</div>
                        <div id="color-preview-dark">__MSG_dark_mode_link__</div>
                        <div id="color-preview-black">__MSG_black_mode_link__</div>
                    </div>
                    <button class="nice-button" id="sync">__MSG_sync__</button>
                    <hr>
                    <h1>__MSG_custom_css__</h1><br>
                    <span>
                        __MSG_css_var_override__<br>
                        <a target="_blank" href="https://github.com/dimdenGD/OldTwitter/blob/master/layouts/header/script.js#:~:text=function%20switchDarkMode">__MSG_css_var_list__</a>
                    </span><br><br>
                    <div class="setting">
                        <textarea type="text" style="height: 71px; width: 550px;" id="custom-css-variables" placeholder="--background-color: #1b2836&#10;--darker-background-color: #141d26"></textarea>
                    </div>
                    <button class="nice-button" id="custom-css-variables-save">__MSG_save_vars__</button>
                    <br><br>
                    <span>__MSG_custom_css_text__</span>
                    <br><br>
                    <div class="setting">
                        <textarea type="text" style="height: 71px; width: 550px;" id="custom-css" placeholder="body {&#10;    background-color: blue !important;&#10;}"></textarea>
                    </div>
                    <button class="nice-button" id="custom-css-save">__MSG_save_css__</button>
                </div>
            </div>
            <div class="cell" id="right-cell">
                <div id="wtf" class="box">
                    <h1>__MSG_who_to_follow__</h1><br>
                    <span id="wtf-refresh">__MSG_refresh__</span> · <a id="wtf-viewall" target="_blank" href="https://twitter.com/i/connect_people?newtwitter=true&user_id=">__MSG_view_all__</a>
                    <br><br>
                    <div id="wtf-list"></div>
                </div>
                <div id="about">
                    <span>
                        __MSG_running__ <a href="https://github.com/dimdenGD/OldTwitter" target="_blank">OldTwitter</a> v<span id="oldtwitter-version">0.0.0</span>.<br>
                        __MSG_created_by__ <a href="/dimdenEFF" target="_blank">dimden</a>.
                    </span>
                    <br>
                    <div class="about-links">
                        <span>© 2023 dimden</span> 
                        <a href="https://dimden.dev/" target="_blank">__MSG_website__</a>
                        <a href="/dimdenEFF">Twitter</a>
                        <a href="https://dimden.dev/donate" target="_blank" id="donate-button">__MSG_donate__</a>
                    </div>
                    <div class="about-links">
                        <span>© 2015 Twitter</span> 
                        <a href="/about">__MSG_about__</a>
                        <a href="https://support.twitter.com">__MSG_help__</a>
                        <a href="/tos">__MSG_terms__</a>
                        <a href="/privacy">__MSG_privacy__</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </main>
</body>
</html>