#loading-box {
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: var(--darker-background-color);
    position: fixed;
}
#loading-box-text:before {
    content: "\f179";
    vertical-align: sub;
    font-family: var(--icon-font);
    font-size: 64px;
    color: #1da1f2;
    margin-left: 20px;
}
#loading-box-container {
    margin: 0 auto;
    width: 100%;
    margin-top: 270px;
    text-align: center;
}

#content {
    color: var(--default-text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

body {
    background-color: var(--darker-background-color) !important;
    font-family: var(--font);
    margin: 0;
}
#container {
    margin: 0 auto;
    max-width: 1190px;
}

.cell {
    box-sizing: border-box;
    display: inline-block;
}

#content {
    display: flex;
}
.box {
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--border);
}
#user-banner {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}
#user-avatar {
    margin-left: 7px;
    border: 4px solid var(--background-color);
    margin-top: -32px;
    border-radius: 7px;
}
#user-name {
    margin: 0;
    left: 95px;
    font-size: 22px;
    position: relative;
    bottom: 47px;
    width: 195px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    color: var(--almost-black);
}
#user-handle {
    margin: 0;
    position: relative;
    color: var(--lil-darker-gray);
    font-size: 14px;
    font-weight: 100;
    left: 95px;
    bottom: 48px;
    width: fit-content;
}
#user-stats {
    display: inline-flex;
    padding-bottom: 7px;
}
.user-stat-div > h2 {
    color: var(--lil-darker-gray);
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0 10px;
    white-space: nowrap;
}
.user-stat-div > h1 {
    margin: 0 10px;
    font-size: 20px;
    color: var(--link-color);
}
#user-info {
    height: 5px;
    display: block;
    text-decoration: none;
}
#center-cell {
    margin-top: 55px;
}
#left-cell {
    top: 55px;
    position: sticky;
    height: fit-content;
    margin-right: 10px;
    margin-left: 10px;
}
#right-cell {
    top: 55px;
    position: sticky;
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
}
#settings {
    width: 568px;
    margin-bottom: 10px;
    min-height: 700px;
    padding: 10px;
}
#settings hr {
    border-top: var(--border);
    border-color: var(--border);
}
#settings h1 {
    margin-bottom: 5px !important;
}
#settings a, #settings span, #settings p, #settings label {
    font-size: 14px;
}
#settings input {
    vertical-align: middle;
}
.tweet, .notification {
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-top: 1px solid var(--border);
    background-color: white;
    padding: 10px;
    min-height: 50px;
    cursor: pointer;
}

#wtf {
    padding: 10px;
    width: 250px;
}
#wtf > h1, #trends h1, #settings h1 {
    margin: 0;
    display: inline-block;
    font-size: 22px;
    color: var(--darker-gray);
    font-weight: 300;
}

#settings h2, .help-header {
    margin: 0;
    display: inline-block;
    font-size: 18px;
    color: var(--darker-gray);
    font-weight: 300;
    padding-bottom: 5px;
    padding-top: 5px;
}

#wtf-refresh, #wtf-viewall {
    color: var(--light-gray);
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}
#wtf-refresh:hover, #wtf-viewall:hover {
    text-decoration: underline;
}

.wtf-user {
    width:100%;
    display: inline-block;
    margin-bottom: 5px;
}
.wtf-user-link {
    text-decoration: none !important;
}
.wtf-user-name {
    overflow: hidden;
    margin-right: 5px;
    overflow-wrap: break-word;
}
.wtf-user-handle {
    overflow: hidden;
    width: 88px;
    height: 17px;
    display: inline-block;
}
.follow, .following {
    color: var(--almost-black);
    padding: 4px 12px 4px 12px !important;
}
.follow:before {
    color: var(--light-gray);
    font-family: var(--icon-font);
    content: "\f175";
    margin-right: 7px;
    vertical-align: text-bottom;
}
.following:before {
    color: var(--link-color);
    font-family: var(--icon-font);
    content: "\f176";
    margin-right: 7px;
    vertical-align: text-bottom;
}
.about {
    margin-top: 5px;
    padding: 10px 3px;
    font-size: 12px;
    color: var(--light-gray);
    padding-right: 0;
    word-break: keep-all;
}
.about-links a, .about-links span {
    color: var(--light-gray);
    margin-right: 8px;
}
#about-right{
    max-width: 272px;
    box-sizing: border-box; 
}

#trends {
    margin-top: 10px;
    padding: 10px;
}
.trend {
    margin-top: 10px;
}
.trend-description {
    font-size: 14px;
    color: var(--light-gray);
}
.tweet-translate {
    color: var(--link-color);
    font-size: 13px;
    cursor: pointer;
    margin-top: 2px;
}
.tweet-translate:hover {
    text-decoration: underline;
}
.tweet-header, .tweet-header-quote {
    display: contents;
}
.tweet-header-info, .tweet-header-info-quote {
    display: inline;
    text-decoration: none;
    position: relative;
    bottom: 3px;
}
.tweet-header-info-quote { bottom: 8px !important }
.tweet-header-info:hover {
    text-decoration: underline;
}
.tweet-header-name:hover {
    color: var(--link-color);
}
.tweet-header-name, .tweet-header-name-quote {
    display: inline;
    font-weight: bold;
    color: var(--almost-black);
    font-size: 14px;
}
.tweet-header-handle, .tweet-time, .tweet-header-handle-quote, .tweet-time-quote {
    display: inline;
    direction: ltr;
    unicode-bidi: embed;
    font-size: 13px;
    color: var(--light-gray);
    text-decoration: none;
}
.tweet-avatar-link {
    float: left;
    margin-right: 10px;
}
.tweet-avatar {
    border-radius: 5px;
}
.setting {
    margin-bottom: 5px;
}
.wtf-header {
    display: flow-root;
}
#color-preview {
    margin-top: 15px;
}
#color-preview div {
    padding: 10px 15px;
    display: inline-block;
    width: fit-content;
    border: 1px solid black;
    margin-bottom: 10px;
}
#color-preview-light {
    background-color: white;
}
#color-preview-dark {
    background-color: #1b2836;
}
#color-preview-black {
    background-color: black;
}

select, input, textarea {
    color: var(--default-text-color);
    background-color: var(--input-background);
    border: 1px solid var(--border);
}
.user-stat-div:hover {
    text-decoration: none !important;
}
.color-transparency {
    width: 50px;
}
.color-reset {
    float: right;
    padding-bottom: 3px !important;
    padding-top: 2px !important;
}
.remove-autotranslate-language, #add-autotranslate-language {
    padding: 2px 8px 3px 8px !important;
    margin-left: 8px;
}
#add-autotranslate-language {
    margin-left: 0;
}
.autotranslate-language {
    margin-bottom: 2px;
    margin-top: 2px;
}
.option-help {
    color: white;
    background-color: var(--light-gray);
    border-radius: 50%;
    padding: 0px 4px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1px;
    vertical-align: initial;
}
.help-modal > div {
    margin-bottom: 10px;
}
#advanced-settings > button {
    margin-top: 5px;
}
#color-preview-custom[hidden], #language-warning[hidden] {
    display: none !important;
}
#language-warning {
    display: block;
    margin-top: 10px;
}
#language-warning-button {
    color: var(--link-color);
    cursor: pointer;
}
#move-navbar-to-bottom-div,
#show-user-previews-on-mobile-div,
#hide-wtf-div,
#hide-trends-div {
    display: none;
}
#about-left {
    display: none;
}
.tweet {
    background-color: var(--background-color);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-top: 1px solid var(--border);
    cursor: pointer;
    min-height: 75px;
    padding: 10px
}
.tweet:focus {
    outline: none;
}

.tweet-avatar-link {
    float: left;
    margin-right: 10px
}

.tweet-header,
.tweet-header-quote {
    display: contents
}

.tweet-header-info,
.tweet-header-info-quote {
    bottom: 3px;
    display: inline;
    position: relative;
    text-decoration: none
}

.tweet-header-info-quote {
    bottom: 8px !important
}

.tweet-header-name:hover {
    color: var(--link-color)
}

.tweet-header-name,
.tweet-header-name-quote {
    color: var(--almost-black);
    display: inline;
    font-size: 14px;
    font-weight: 700
}

.tweet-header-handle,
.tweet-time,
.tweet-header-handle-quote,
.tweet-time-quote {
    color: var(--light-gray);
    direction: ltr;
    display: inline;
    font-size: 13px;
    text-decoration: none;
    unicode-bidi: embed
}

.tweet-time {
    bottom: 3px;
    position: relative
}

.tweet-time-quote {
    bottom: 8px;
    position: relative
}

.tweet-time::before {
    color: var(--light-gray) !important;
    content: "\00b7";
    margin-right: 3px
}

.tweet-time:hover {
    color: var(--link-color);
    text-decoration: underline
}

.tweet-body,
.tweet-interact,
.tweet-body-text-quote {
    display: flow-root;
    color: var(--almost-black);
}
.tweet-body {
    min-width: 490px;
}
.tweet-body-text-quote {
    overflow-x: hidden;
}
.tweet-header-name-main {
    width: 300px;
}

.tweet-body-text-long {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px
}

.tweet-body-text-short {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 32px
}

.tweet-body-text a {
    text-decoration: none
}

.tweet-interact {
    margin-top: 10px;
    user-select: none
}

.tweet-interact span {
    color: var(--light-gray);
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin-left: 6px;
    margin-right: 20px;
    position: relative;
    text-decoration: none;
    top: -2px
}

.tweet-interact span:before {
    -webkit-font-smoothing: antialiased;
    color: #ccd6dd;
    cursor: pointer;
    font: 400 16px var(--icon-font);;
    margin-right: 10px;
    vertical-align: sub
}

.tweet-interact-reply:before {
    content: "\f151"
}

.tweet-interact-favorite:before {
    content: var(--favorite-icon-content)
}

.tweet-interact-more:before {
    content: "\f150"
}

.tweet-interact-favorited,
.tweet-interact-favorited:before,
.tweet-interact-favorite:hover:before,
.tweet-interact-favorite:hover {
    color: var(--favorite-icon-color) !important
}
.tweet-interact-favorited,
.tweet-interact-favorited:before{
    content: var(--favorite-icon-content-click) !important
}

.tweet-reply-text:focus,
.tweet-quote-text:focus {
    outline: none
}

.tweet-reply-button,
.tweet-quote-button {
    bottom: 16px;
    height: 42px;
    position: relative
}

.tweet-top {
    font-size: 13px;
    margin-bottom: 7px;
    margin-left: 35px
}

.tweet-top-icon,
.tweet-top-text {
    color: var(--light-gray);
    display: inline-block
}

.tweet-top-text a {
    color: var(--light-gray);
    text-decoration: none
}

.tweet-top-text a:hover {
    color: var(--link-color) !important;
    text-decoration: underline
}

.tweet-interact-more-menu {
    margin-left: 100px
}

.tweet-media {
    display: block;
    max-width: 500px;
    position: relative;
    right: 5px;
    width: fit-content;
}

.tweet-media img {
    cursor: zoom-in
}

.tweet-media-element,
.new-tweet-media-img {
    block-size: auto;
    border: 1px solid var(--border);
    border-radius: 7px;
    margin: 5px;
    object-fit: cover;
    vertical-align: top
}

.tweet-media video {
    object-fit: var(--video-cover);
}

.center-text {
    background-color: var(--background-color);
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--light-gray);
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center
}

.tweet-media-element-censor {
    -moz-filter: blur(20px);
    -webkit-filter: blur(20px);
    cursor: pointer;
    filter: blur(20px);
    transform: scale(1.03)
}
.tweet-avatar,
.tweet-avatar-quote {
    border-radius: 5px
}

.tweet-interact-retweet:before,
.tweet-interact-retweet-menu-retweet:before {
    content: "\f152"
}

.tweet-interact-reply-clicked,
.tweet-interact-reply-clicked:before,
.tweet-interact-reply:hover:before,
.tweet-interact-reply:hover,
.tweet-interact-more:hover:before {
    color: var(--more-color) !important
}

.tweet-interact-retweeted,
.tweet-interact-retweeted:before,
.tweet-interact-retweet:hover:before,
.tweet-interact-retweet:hover {
    color: #5c913b !important
}

.tweet-interact-retweet-menu-quote:before,
.tweet-interact-more-menu-embed:before {
    content: "\f204"
}
.color-value, #link-color {
    width: 40px;
    cursor: pointer;
}
.color-div {
    margin-bottom: 10px;
}
button[aria-labelledby="clr-open-label"] {
    display: none;
}
/* A little smaller UI */
@media screen and (max-width: 1195px) {
    .wtf-user-name, .wtf-user-handle {
        font-size: 12px;
    }
    #user-banner {
        width: 258px;
    }
    .user-stat-div>h2 {
        font-size: 12px;
        margin: 0px 8px;
    }
    .user-stat-div>h1 {
        font-size: 18px;
    }
    #trends {
        width: 238px
    }
}
/* no right-cell */
@media screen and (max-width: 1167px) {
    #right-cell {
        display: none;
    }
    #about-left {
        display: block;
        box-sizing: border-box; 
        width: 260px;
    }
}
/* no left-cell */
@media screen and (max-width: 880px) {
    #left-cell {
        display: none;
    }
    #center-cell {
        margin-right: auto;
        margin-left: auto;
    }
}
/* Mobile UI */
@media screen and (max-width: 590px) {
    #left-cell, #right-cell {
        display: none;
    }
    #center-cell {
        margin: 0 auto;
        width: 100%;
        margin-top: 55px;
    }
    #settings {
        width: calc(100% - 40px);
        padding: 20px;
    }
    #custom-css {
        width: 100% !important
    }
    #move-navbar-to-bottom-div,
    #show-user-previews-on-mobile-div {
        display: block;
    }
    .color-transparency {
        width: 40px;
    }
    .color-reset {
        padding: 0 8px 0 6px;
    }
    .color-name {
        font-size: 12px !important;
    }
}
@media screen and (min-width: 800px) {
    #hide-trends-div,
    #hide-wtf-div {
        display: block;
    }
}