<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Old Twitter - List</title>
    <link rel="preconnect" href="https://twitter.com">
</head>
<body>
    <div id="loading-box">
        <div id="loading-box-container">
            <span id="loading-box-text"></span>
        </div>
    </div>
    <header></header>
    <main id="container">
		<div id="content">
            <div class="cell" id="left-cell">
                <div class="box" id="list-info">
                    <img id="list-banner" height="100" width="300">
                    <h1 id="list-name">Loading</h1>
                    <div id="list-description"></div>
                    <a id="list-user"><img width="48" height="48" id="list-avatar"></img></a>
                    <br>
                    <div id="list-stats">
                        <a class="list-stat-div" id="list-members-div">
                            <h2>Members</h2>
                            <h1 id="list-members-count">0</h1>
                        </a>
                        <a class="list-stat-div" id="list-followers-div">
                            <h2>Subscribers</h2>
                            <h1 id="list-followers-count">0</h1>
                        </a>
                    </div>
                </div>
                <div class="box list-switches" style="width: 280px;margin-top:10px;">
                    <span class="list-switch" id="ns-tweets">Tweets</span>
                    <hr>
                    <span class="list-switch" id="ns-members">List members</span>
                    <hr>
                    <span class="list-switch" id="ns-followers">List subscribers</span>
                </div>
            </div>
            <div class="cell" id="center-cell">
                <div id="list-div">
                    <div id="list-tweets-container" hidden>
                        <div class="list-top nice-header box">Tweets</div>
                        <div id="list-tweets"></div>
                    </div>
                    <div id="list-members-container" hidden>
                        <div class="list-top nice-header box">Members</div>
                        <div id="list-members"></div>
                    </div>
                    <div id="list-followers-container" hidden>
                        <div class="list-top nice-header box">Subscribers</div>
                        <div id="list-followers"></div>
                    </div>
                </div>
            </div>
            <div class="cell" id="right-cell">
                <div id="wtf" class="box">
                    <h1>Who to follow</h1><br>
                    <span id="wtf-refresh">Refresh</span> · <a id="wtf-viewall" target="_blank" href="https://mobile.twitter.com/i/connect_people?user_id=">View all</a>
                    <br><br>
                    <div id="wtf-list"></div>
                </div>
                <div id="about">
                    <span>
                        Running <a href="https://github.com/dimdenGD/OldTwitter" target="_blank">OldTwitter</a> v<span id="oldtwitter-version">0.0.0</span>.<br>
                        Created by <a href="https://dimden.dev/" target="_blank">dimden</a>.<br>
                    </span>
                    <br>
                    <div class="about-links">
                        <span>© 2022 dimden</span> 
                        <a href="https://dimden.dev/" target="_blank">Website</a>
                        <a href="/dimdenEFF">Twitter</a>
                        <a href="https://dimden.dev/donate" target="_blank" id="donate-button">Donate</a>
                    </div>
                    <div class="about-links">
                        <span>© 2015 Twitter</span> 
                        <a href="/about">About</a>
                        <a href="https://support.twitter.com">Help</a>
                        <a href="/tos">Terms</a>
                        <a href="/privacy">Privacy</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </main>
</body>
</html>