@font-face {
    font-family: 'RosettaIcons';
    src: url(chrome-extension://__MSG_@@extension_id__/fonts/rosetta.woff);
}

#loading-box {
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
}
#loading-box-text:before {
    content: "\f179";
    vertical-align: sub;
    font-family: RosettaIcons;
    font-size: 64px;
    color: #1da1f2;
    margin-left: 20px;
}
#loading-box-container {
    margin: 0 auto;
    width: 100%;
    margin-top: 270px;
    text-align: center;
}

a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

body {
    background-color: #f5f8fa !important;
    font-family: var(--font);
    margin: 0;
}
.container {
    margin: 0 auto;
    max-width: 1190px;
}

.cell {
    box-sizing: border-box;
    display: inline-block;
}

.content {
    display: flex;
}
.box {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e1e8ed;
}

.user-stat-div > h2 {
    color: #6a7d8c;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0 10px;
}
.user-stat-div > h1 {
    margin: 0 10px;
    font-size: 20px;
    color: var(--link-color);
}
#profile-nav-left-cell {
    height: fit-content;
    margin-right: 10px;
    margin-left: 10px;
    width: 302px;
}
#profile-nav-center-cell {
    width: 560px;
}
#profile-nav-right-cell {
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    width: 272px;
}
#left-cell {
    top: 55px;
    position: relative;
    height: fit-content;
    margin-right: 10px;
    margin-left: 10px;
    width: 302px;
}
#right-cell {
    top: 140px;
    position: sticky;
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
}
#timeline {
    width: 560px;
    margin-bottom: 10px;
}
.tweet {
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    border-top: 1px solid #e1e8ed;
    background-color: white;
    padding: 10px;
    min-height: 75px;
    cursor: pointer;
}
.tweet:hover {
    background-color: #f5f8fa;
}
.tweet-avatar-link {
    float: left;
    margin-right: 10px;
}
.tweet-avatar {
    border-radius: 5px;
}
.tweet-avatar-quote {
    border-radius: 5px;
}
.tweet-header, .tweet-header-quote {
    display: contents;
}
.tweet-header-info, .tweet-header-info-quote {
    display: inline;
    text-decoration: none;
    position: relative;
    bottom: 3px;
}
.tweet-header-info-quote { bottom: 8px !important }
.tweet-header-info:hover {
    text-decoration: underline;
}
.tweet-header-name:hover {
    color: var(--link-color);
}
.tweet-header-name, .tweet-header-name-quote {
    display: inline;
    font-weight: bold;
    color: #292f33;
    font-size: 14px;
}
.tweet-header-handle, .tweet-time, .tweet-header-handle-quote, .tweet-time-quote {
    display: inline;
    direction: ltr;
    unicode-bidi: embed;
    font-size: 13px;
    color: #8899a6;
    text-decoration: none;
}
.tweet-time {
    bottom: 3px;
    position: relative;
}
.tweet-time-quote {
    bottom: 8px;
    position: relative;
}

.tweet-time::before {
    content: "\00b7";
    margin-right: 3px;
    color: #8899a6 !important;
}
.tweet-time:hover {
    color: var(--link-color);
    text-decoration: underline;
}
.tweet-body, .tweet-interact, .tweet-body-text-quote {
    display: flow-root;
}
.tweet-body-quote {
    background-color: white;
}
.tweet-body-quote:hover {
    background-color: #f5f8fa;
    text-decoration: none;
}
.tweet-body-text-long {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.tweet-body-text-short {
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: .01em;
}
.tweet-body-text a {
    text-decoration: none;
}
.tweet-body-text a:hover {
    text-decoration: underline;
}
.tweet-interact {
    margin-top: 10px;
}
.tweet-interact span {
    color: #8899a6;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 6px;
    position: relative;
    top: -2px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
}
.tweet-interact span:before {
    font-family: RosettaIcons;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    margin-right: 10px;
    color: #ccd6dd;
    cursor: pointer;
    vertical-align: sub;
}
.tweet-interact-reply:before {
    content: "\f151";
}
.tweet-interact-retweet:before {
    content: "\f152";
}
.tweet-interact-favorite:before {
    content: "\f147";
}
.tweet-interact-more:before {
    content: "\f150";
}
.tweet-interact-reply-clicked, .tweet-interact-reply-clicked:before, .tweet-interact-reply:hover:before, .tweet-interact-reply:hover, .tweet-interact-more:hover:before {
    color: #3300FF !important;
}
.tweet-interact-retweeted, .tweet-interact-retweeted:before, .tweet-interact-retweet:hover:before, .tweet-interact-retweet:hover {
    color: #5c913b !important;
}
.tweet-interact-favorited, .tweet-interact-favorited:before, .tweet-interact-favorite:hover:before, .tweet-interact-favorite:hover {
    color: #ffac33 !important;
}
.tweet-reply-text, .tweet-quote-text {
    border: 1px solid #e1e8ed;
    resize: none;
    border-radius: 5px;
    width: 346px;
    padding: 5px;
    font-family: var(--font);
    display: inline-block;
    height: 30px;
}
.tweet-reply-text:focus, .tweet-quote-text:focus {
    outline: none;
}
.tweet-reply-button, .tweet-quote-button {
    position: relative;
    bottom: 16px;
    height: 42px;
}
.nice-button {
    color: #292f33;
    background-color: #f5f8fa;
    background-image: linear-gradient(#fff,#f5f8fa);
    background-repeat: no-repeat;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    color: #66757f;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    padding: 8px 16px;
}
.nice-button:hover:not([disabled]) {
    color: #292f33;
    text-decoration: none;
    background-color: #e1e8ed;
    background-image: linear-gradient(#fff,#e1e8ed);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    border-color: #e1e8ed;
}
.nice-button:disabled {
    color: lightgray !important;
    cursor: not-allowed;
}
.nice-button:disabled:before {
    color: lightgray !important;
}
.tweet-top {
    margin-left: 35px;
    margin-bottom: 7px;
    font-size: 13px;
}
.tweet-top-icon {
    font-family: RosettaIcons;
    margin-right: 10px;
    vertical-align: text-bottom;
}
.tweet-top-icon, .tweet-top-text {
    display: inline-block;
    color: #8899a6;
}
.tweet-top-text a {
    color: #8899a6;
    text-decoration: none;
}
.tweet-top-text a:hover {
    color: var(--link-color) !important;
    text-decoration: underline;
}
.tweet-interact-retweet-menu, .tweet-interact-more-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #8899a6;
    border-radius: 5px;
    z-index: 5;
}
.tweet-interact-more-menu {
    margin-left: 100px;
}
.tweet-reply-cancel:hover, .tweet-quote-cancel:hover, .tweet-reply-upload:hover, .tweet-quote-upload:hover {
    text-decoration: underline;
    cursor: pointer;
}
.tweet-body-quote {
    display: block;
    border-radius: 5px;
    border: 1px solid #e1e8ed;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    position: relative;
    right: 10px;
}
.tweet-media {
    max-width: 500px;
    display: flex;
    position: relative;
    right: 5px;
}
.tweet-media img {
    cursor: zoom-in;
}
.tweet-media-element, .new-tweet-media-img {
    margin: 5px;
    border-radius: 7px;
    object-fit: cover;
    block-size: auto;
    border: 1px solid #e1e8ed;
}
.tweet-media video {
    block-size: auto;
}
.tweet-media-element-four {
    max-width: 100px;
    max-height: 150px;
}
.tweet-media-element-three {
    max-width: 150px;
    max-height: 250px;
}
.tweet-media-element-two {
    max-width: 200px;
    max-height: 400px;
}
.tweet-media-element-one {
    max-width: 450px;
    max-height: 500px;
}
.center-text {
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
    color: #8899a6;
    border: 1px solid #e1e8ed;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.center-text:hover {
    text-decoration: underline;
}
.tweet-interact-retweet-menu span, .tweet-interact-more-menu span {
    margin-right: 5px !important;
    cursor: pointer;
}
.tweet-interact-retweet-menu span:hover {
    color: #5c913b !important;
}
.tweet-interact-more-menu span:hover {
    color: #3300FF !important;
}
.tweet-interact-retweet-menu span:before, .tweet-interact-more-menu span:before {
    color: #8899a6;
    margin-right: 5px !important;
}
.tweet-interact-retweet-menu-retweet:before {
    content: "\f152";
}
.tweet-interact-retweet-menu-quote:before {
    content: "\f204";
}
.tweet-interact-more-menu-copy:before {
    content: "\f203";
}
.tweet-interact-more-menu-embed:before {
    content: "\f204";
}
.tweet-interact-more-menu-share:before {
    content: "\f185";
}
.tweet-interact-more-menu-analytics:before {
    content: "\f200";
}
.tweet-interact-more-menu-refresh:before {
    content: "\f303";
}
.tweet-interact-more-menu-download:before {
    content: "\f186";
}
.tweet-interact-more-menu-download-gif:before {
    content: "\f309";
}
.tweet-interact-more-menu-delete:before {
    content: "\f154";
}
.tweet-media-element-censor {
    filter: blur(20px);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    cursor: pointer;
    transform: scale(1.03);
}
#wtf {
    padding: 10px;
    width: 250px;
}
#wtf h1 {
    margin: 0;
    display: inline-block;
    font-size: 22px;
    color: #66757f;
    font-weight: 300;
}
#wtf-refresh, #wtf-viewall {
    color: #8899a6;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}
#wtf-refresh:hover, #wtf-viewall:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1195px) {
    #wtf {
        display: none;
    }
}
.wtf-user {
    display: inline-block;
    margin-bottom: 5px;
}
.wtf-user-link {
    text-decoration: none !important;
}
.wtf-user-name {
    max-width: 93px;
    display: inline-block;
    overflow: hidden;
    height: 17px;
}
.wtf-user-handle {
    overflow: hidden;
    width: 88px;
    height: 17px;
    display: inline-block;
}
.follow, .following {
    color: #292f33;
    padding: 4px 12px 4px 12px !important;
}
.follow:before {
    color: #55acee;
    font-family: RosettaIcons;
    content: "\f175";
    margin-right: 7px;
    vertical-align: text-bottom;
}
.following:before {
    color: #55acee;
    font-family: RosettaIcons;
    content: "\f176";
    margin-right: 7px;
    vertical-align: text-bottom;
}
.tweet-self-thread-button {
    text-decoration: none;
    font-size: 13px;
    margin-top: 2px;
}
.tweet-self-thread-button:hover {
    text-decoration: underline;
}
.tweet-no-top{
    border-top: none !important;
}
.tweet-self-thread-line {
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: #e1e8ed;
    margin-left: -34px;
    z-index: 1;
}
.tweet-self-thread-line-dots {
    z-index: 2;
    position: absolute;
    width: 12px;
    height: 2px;
    border: 2px white solid;
    display: unset;
    margin-left: -41px;
    margin-top: 2px;
}
.tweet:hover .tweet-self-thread-line-dots {
    border: 2px #f5f8fa solid !important;
}
.user-verified::after {
    content: "\f099";
    color: #55acee;
    font-family: RosettaIcons;
    margin-left: 5px;
}
.user-protected::after {
    content: "\f096";
    color: #ddd22b;
    font-family: RosettaIcons;
    margin-left: 5px;
}
#about {
    margin-top: 5px;
    padding: 10px;
    font-size: 12px;
    color: #8899a6;
}
.about-links a, .about-links span {
    color: #8899a6;
    margin-right: 8px;
}
.emoji {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    margin-left: 2px;
    margin-right: 2px;
}
.tweet-body-text-short .emoji {
    width: 26px !important;
    height: 26px !important;
    vertical-align: text-top !important;
}
.tweet-body-text-long .emoji {
    vertical-align: text-bottom !important;
}
#user-name .emoji {
    width: 26px !important;
    height: 26px !important;
}
#new-tweets {
    border-bottom: none !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    padding: 10px;
    color: #66757f;
    background-color: #f5f8fa;
}
#new-tweet-avatar {
    vertical-align: top;
}
#new-tweet-text {
    border: 1px solid #e1e8ed;
    resize: none;
    border-radius: 3px;
    width: 450px;
    padding: 5px;
    font-family: var(--font);
    display: inline-block;
    height: 23px;
    font-size: 18px;
    padding-right: 40px;
    scrollbar-width: thin;
}
#new-tweet-text::-webkit-scrollbar {
    width: 2px;
}
#new-tweet-text:focus {
    outline: none;
}
.new-tweet-text-focused {
    height: 100px !important;
}
#new-tweet {
    border-bottom: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background-color: rgba(255, 255, 255, 0.92);
    padding: 10px;
    width: 538px;
}
#new-tweet-container {
    border-radius: 5px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background-color: var(--link-color);
}
#new-tweet-media-div {
    float: right;
    position: relative;
    cursor: pointer;
    bottom: 36px;
    right: 15px;
}
.new-tweet-media-div-focused {
   bottom: 112px !important;
}
#new-tweet-media:before {
    content: "\f159";
    font-family: RosettaIcons;
    color: var(--link-color);
    font-size: 20px;
}
#new-tweet-button {
    float: right;
    margin-top: 5px;
    left: 14px;
    position: relative;
}
#new-tweet-char {
    color: #8899a6;
    font-size: 12px;
    position: absolute;
    margin-left: -46px;
    margin-top: 38px;
    width: 43px;
    text-align: center;
}
.tweet-reply-char, .tweet-quote-char {
    color: #8899a6;
    font-size: 12px;
    padding: 3px;
    top: -10px;
    position: relative;
}
#new-tweet-button:before, .tweet-reply-button:before, .tweet-quote-button:before {
    content: "\f029";
    font-family: RosettaIcons;
    color: var(--link-color);
    font-size: 14px;
    margin-right: 5px;
    vertical-align: bottom;
}
#new-tweet-media-c {
    width: auto;
    margin: 0;
    display: contents;
}
#new-tweet-media-cc {
    left: 34px;
    position: relative;
    display: inline;
}
.new-tweet-media-img {
    max-width: 75px;
    max-height: 100px;
    cursor: zoom-in;
}
.new-tweet-media-img-progress {
    position: absolute;
    display: block;
    color: gray;
    font-size: 10px;
    margin-left: 6px;
}
.new-tweet-media-img-remove {
    position: absolute;
    margin-left: -24px;
    margin-top: 8px;
    height: 14px;
    padding: 0px 3px 3px 3px;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 5px;
    cursor: pointer;
}
.new-tweet-media-img-remove:before {
    content: "\f045";
    font-family: RosettaIcons;
    margin-bottom: 2px;
    color: white;
    font-size: 13px;
}
.new-tweet-media-img-alt {
    position: absolute;
    background: rgba(0,0,0, 0.5);
    color: white;
    padding: 1px 4px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 8px;
    margin-left: -57px;
    padding-bottom: 2px;
    cursor: pointer;
}
.new-tweet-media-img-div {
    width: fit-content;
    display: inline-block;
}
#donate-button {
    transition: 1s;
}
.tweet-translate {
    color: var(--link-color);
    font-size: 13px;
    cursor: pointer;
    margin-top: 2px;
}
.tweet-translate:hover {
    text-decoration: underline;
}
.tweet-interact-more-menu hr {
    border-top: #ccd6dd;
    margin: 2px;
}

#profile-banner-div {
    height: fit-content;
    overflow: hidden;
}
#profile-banner-sticky {
    position: sticky;
    top: -400px;
    z-index: 16;
}

#profile-banner {
    width: 100%;
    object-fit: cover;
    position: relative;
}

@media(min-width: 1510px) {
    #profile-banner {
        height:420px
    }
}

@media(min-width: 1670px) {
    #profile-banner {
        height:460px
    }
}

@media(min-width: 1820px) {
    #profile-banner {
        height:500px
    }
}

@media(min-width: 1990px) {
    #profile-banner {
        height:540px
    }
}

@media(min-width: 2150px) {
    #profile-banner {
        height:580px
    }
}

@media(min-width: 2300px) {
    #profile-banner {
        height:600px
    }
}

#profile-nav {
    background-color: white;
    border-bottom: 1px solid #e1e8ed;
    box-sizing: border-box;
    height: 60px;
    margin-bottom: 7px;
    position: sticky;
    bottom: 5px;
    top: 70px;
    z-index: 20;
}

#profile-avatar {
    border: 5px solid #fff;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgb(136 153 166 / 15%);
}
#profile-info {
    position: relative;
    bottom: 250px;
    z-index: 21;
    color: #292f33;
}
#profile-name {
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    word-wrap: break-word;
    margin: 0;
    text-rendering: optimizeLegibility;
}
#pin-a {
    color: #292f33;
}
#piu-a {
    color: #8899a6;
    text-decoration: none;
}
#piu-a:hover, #pin-a:hover {
    text-decoration: underline;
}
#profile-info-text {
    margin-top: 10px;
    margin-left: 5px;
    padding-right: 20px;
}
#profile-username {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    display: block;
    margin-bottom: 10px;
}
#profile-bio {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

#timeline .tweet:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.profile-additional-thing {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    display: block;
}
.profile-additional-thing:before {
    font-family: RosettaIcons;
    font-size: 18px;
    margin-right: 5px;
    vertical-align: sub;
    color: #8899a6;
    display: inline-block;
    width: 20px;
    text-align: center;
}
.profile-additional-location:before {
    content: "\f031";
}
.profile-additional-url:before {
    content: "\f098";
}
.profile-additional-joined:before {
    content: "\f177";
}
#profile-media-text:before {
    content: "\f110";
}
.profile-media-preview {
    cursor: pointer;
    vertical-align: text-top;
    width: 82px;
    height: 82px;
    margin: 3px;
}
#profile-stats {
    display: inline-flex;
}