#loading-box {
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    position: fixed;
}
#loading-box-text:before {
    content: "\f179";
    vertical-align: sub;
    font-family: RosettaIcons;
    font-size: 64px;
    color: #1da1f2;
    margin-left: 20px;
}
#loading-box-container {
    margin: 0 auto;
    width: 100%;
    margin-top: 270px;
    text-align: center;
}

#content {
    color: var(--default-text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

body {
    background-color: var(--darker-background-color) !important;
    font-family: var(--font);
    margin: 0;
}
#container {
    margin: 0 auto;
    max-width: 1190px;
}

.cell {
    box-sizing: border-box;
    display: inline-block;
}

#content {
    display: flex;
}
.box {
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--border);
}
#user-banner {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}
#user-avatar {
    margin-left: 7px;
    border: 4px solid white;
    margin-top: -32px;
    border-radius: 7px;
}
#user-name {
    margin: 0;
    left: 95px;
    font-size: 22px;
    position: relative;
    bottom: 47px;
    width: 195px;
    overflow-x: hidden;
    color: var(--almost-black);
    overflow-y: hidden;
    height: 30px;
    white-space: nowrap;
}
#user-handle {
    margin: 0;
    position: relative;
    color: var(--lil-darker-gray);
    font-size: 14px;
    font-weight: 100;
    left: 95px;
    bottom: 48px;
    width: fit-content;
}
#user-stats {
    display: inline-flex;
    padding-bottom: 7px;
}
.user-stat-div > h2 {
    color: var(--lil-darker-gray);
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0 10px;
    white-space: nowrap;
}
.user-stat-div > h1 {
    margin: 0 10px;
    font-size: 20px;
    color: var(--link-color);
}
#user-info {
    height: 5px;
    display: block;
    text-decoration: none;
}
#center-cell {
    margin-top: 55px;
}
#left-cell {
    top: 55px;
    position: sticky;
    height: fit-content;
    margin-right: 10px;
    margin-left: 10px;
}
#right-cell {
    top: 55px;
    position: sticky;
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
}
#bookmarks {
    width: 590px;
    margin-bottom: 10px;
    min-height: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#bookmarks hr {
    border-top: var(--border);
}
#bookmarks h1 {
    margin-bottom: 5px !important;
}
.tweet, .notification {
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-top: 1px solid var(--border);
    background-color: white;
    padding: 10px;
    min-height: 50px;
    cursor: pointer;
}

.nice-button {
    color: var(--almost-black);
    background-color: var(--darker-background-color);
    background-image: linear-gradient(var(--background-color),var(--darker-background-color));
    background-repeat: no-repeat;
    border: 1px solid var(--border);
    border-radius: 4px;
    color: var(--darker-gray);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    padding: 8px 16px;
    font-family: var(--font);
}
.nice-button:hover:not([disabled]) {
    color: var(--almost-black);
    text-decoration: none;
    background-color: var(--border);
    background-image: linear-gradient(var(--background-color),var(--border));
    border-color: var(--border);
}
.nice-button:disabled {
    color: lightgray !important;
    cursor: not-allowed;
}
.nice-button:disabled:before {
    color: lightgray !important;
}

.nice-red-button {
    color: #d4e3ed !important;
    background-image: linear-gradient(#BA172C, #6F0D1C) !important;
}

.nice-red-button:hover:not([disabled]) {
    color: #d4e3ed !important;
    background-image: linear-gradient(#BA172C, #4B0E17) !important;
}

#wtf {
    padding: 10px;
    width: 250px;
}
#wtf h1, #trends h1, #bookmarks h1 {
    margin: 0;
    display: inline-block;
    font-size: 22px;
    color: var(--darker-gray);
    font-weight: 300;
}
#wtf-refresh, #wtf-viewall {
    color: var(--light-gray);
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}
#wtf-refresh:hover, #wtf-viewall:hover {
    text-decoration: underline;
}

.wtf-user {
    display: inline-block;
    margin-bottom: 5px;
}
.wtf-user-link {
    text-decoration: none !important;
}
.wtf-user-name {
    overflow: hidden;
    margin-right: 5px;
    overflow-wrap: break-word;
}
.wtf-user-handle {
    overflow: hidden;
    width: 88px;
    height: 17px;
    display: inline-block;
}
.follow, .following {
    color: var(--almost-black);
    padding: 4px 12px 4px 12px !important;
}
.follow:before {
    color: var(--light-gray);
    font-family: RosettaIcons;
    content: "\f175";
    margin-right: 7px;
    vertical-align: text-bottom;
}
.following:before {
    color: var(--link-color);
    font-family: RosettaIcons;
    content: "\f176";
    margin-right: 7px;
    vertical-align: text-bottom;
}

#about {
    margin-top: 5px;
    padding: 10px 3px;
    font-size: 12px;
    color: var(--light-gray);
}
.about-links a, .about-links span {
    color: var(--light-gray);
    margin-right: 8px;
}

#trends {
    margin-top: 10px;
    padding: 10px;
}
.trend {
    margin-top: 10px;
}
.trend-description {
    font-size: 14px;
    color: var(--light-gray);
}
.tweet-translate {
    color: var(--link-color);
    font-size: 13px;
    cursor: pointer;
    margin-top: 2px;
}
.tweet-translate:hover {
    text-decoration: underline;
}
.tweet-interact-more-menu hr {
    border-top: #ccd6dd;
    margin: 2px;
}
.tweet-header, .tweet-header-quote {
    display: contents;
}
.tweet-header-info, .tweet-header-info-quote {
    display: inline;
    text-decoration: none;
    position: relative;
    bottom: 3px;
}
.tweet-header-info-quote { bottom: 8px !important }
.tweet-header-info:hover {
    text-decoration: underline;
}
.tweet-header-name:hover {
    color: var(--link-color);
}
.tweet-header-name, .tweet-header-name-quote {
    display: inline;
    font-weight: bold;
    color: var(--almost-black);
    font-size: 14px;
}
.tweet-header-handle, .tweet-time, .tweet-header-handle-quote, .tweet-time-quote {
    display: inline;
    direction: ltr;
    unicode-bidi: embed;
    font-size: 13px;
    color: var(--light-gray);
    text-decoration: none;
}
.tweet-avatar-link {
    float: left;
    margin-right: 10px;
}
.tweet-avatar {
    border-radius: 5px;
}
.setting {
    margin-bottom: 5px;
}
.wtf-header {
    display: flow-root;
}
#color-preview {
    margin-top: 15px;
}
#color-preview div {
    padding: 10px;
    display: inline;
    width: fit-content;
    border: 1px solid black;
}
#color-preview-light {
    background-color: white;
}
#color-preview-dark {
    background-color: #1b2836;
}

.tweet {
    background-color: var(--background-color);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-top: 1px solid var(--border);
    cursor: pointer;
    min-height: 75px;
    padding: 10px
}
.tweet:focus {
    outline: none;
}

.tweet-avatar-link {
    float: left;
    margin-right: 10px
}

.tweet-header,
.tweet-header-quote {
    display: contents
}

.tweet-header-info,
.tweet-header-info-quote {
    bottom: 3px;
    display: inline;
    position: relative;
    text-decoration: none
}

.tweet-header-info-quote {
    bottom: 8px !important
}

.tweet-header-name:hover {
    color: var(--link-color)
}

.tweet-header-name,
.tweet-header-name-quote {
    color: var(--almost-black);
    display: inline;
    font-size: 14px;
    font-weight: 700
}

.tweet-header-handle,
.tweet-time,
.tweet-header-handle-quote,
.tweet-time-quote {
    color: var(--light-gray);
    direction: ltr;
    display: inline;
    font-size: 13px;
    text-decoration: none;
    unicode-bidi: embed
}

.tweet-time {
    bottom: 3px;
    position: relative
}

.tweet-time-quote {
    bottom: 8px;
    position: relative
}

.tweet-time::before {
    color: var(--light-gray) !important;
    content: "\00b7";
    margin-right: 3px
}

.tweet-time:hover {
    color: var(--link-color);
    text-decoration: underline
}

.tweet-body,
.tweet-interact,
.tweet-body-text-quote {
    display: flow-root;
    color: var(--almost-black);
}
.tweet-body-text-quote {
    overflow-x: hidden;
}
.tweet-header-name-main {
    width: 300px;
}

.tweet-body-text-long {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px
}

.tweet-body-text-short {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 32px
}

.tweet-body-text a {
    text-decoration: none
}

.tweet-interact {
    margin-top: 10px;
    user-select: none
}

.tweet-interact span {
    color: var(--light-gray);
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin-left: 6px;
    margin-right: 20px;
    position: relative;
    text-decoration: none;
    top: -2px
}

.tweet-interact span:before {
    -webkit-font-smoothing: antialiased;
    color: #ccd6dd;
    cursor: pointer;
    font: 400 16px RosettaIcons;
    margin-right: 10px;
    vertical-align: sub
}

.tweet-interact-reply:before {
    content: "\f151"
}

.tweet-interact-favorite:before {
    content: var(--favorite-icon-content)
}

.tweet-interact-more:before {
    content: "\f150"
}

.tweet-interact-favorited,
.tweet-interact-favorited:before,
.tweet-interact-favorite:hover:before,
.tweet-interact-favorite:hover {
    color: var(--favorite-icon-color) !important
}

.tweet-reply-text:focus,
.tweet-quote-text:focus {
    outline: none
}

.tweet-reply-button,
.tweet-quote-button {
    bottom: 16px;
    height: 42px;
    position: relative
}

.nice-button {
    background-color: var(--darker-background-color);
    background-image: linear-gradient(var(--background-color), var(--darker-background-color));
    background-repeat: no-repeat;
    border: 1px solid var(--border);
    border-radius: 4px;
    color: var(--almost-black);
    color: var(--darker-gray);
    cursor: pointer;
    font: 700 14px/normal var(--font);
    padding: 8px 16px
}

.nice-button:hover:not([disabled]) {
    background-color: var(--border);
    background-image: linear-gradient(var(--background-color), var(--border));
    border-color: var(--border);
    color: var(--almost-black);
    text-decoration: none
}

.nice-button:disabled {
    color: lightgray !important;
    cursor: not-allowed
}

.nice-button:disabled:before {
    color: lightgray !important
}

.tweet-top {
    font-size: 13px;
    margin-bottom: 7px;
    margin-left: 35px
}

.tweet-top-icon,
.tweet-top-text {
    color: var(--light-gray);
    display: inline-block
}

.tweet-top-text a {
    color: var(--light-gray);
    text-decoration: none
}

.tweet-top-text a:hover {
    color: var(--link-color) !important;
    text-decoration: underline
}

.tweet-interact-retweet-menu,
.tweet-interact-more-menu {
    background-color: var(--background-color);
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    position: absolute;
    z-index: 5
}

.tweet-interact-more-menu {
    margin-left: 100px
}

.tweet-media {
    display: block;
    max-width: 500px;
    position: relative;
    right: 5px;
    width: fit-content;
}

.tweet-media img {
    cursor: zoom-in
}

.tweet-media-element,
.new-tweet-media-img {
    block-size: auto;
    border: 1px solid var(--border);
    border-radius: 7px;
    margin: 5px;
    object-fit: cover;
    vertical-align: top
}

.tweet-media video {
    object-fit: var(--video-cover);
}

.tweet-media-element-four {
    max-height: 150px;
    max-width: 100px
}

.tweet-media-element-three {
    max-height: 250px;
    max-width: 150px
}

.tweet-media-element-two {
    max-height: 400px;
    max-width: 200px
}

.tweet-media-element-one {
    max-height: 500px;
    max-width: 450px
}

.center-text {
    background-color: var(--background-color);
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--light-gray);
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center
}

.tweet-interact-retweet-menu span,
.tweet-interact-more-menu span {
    cursor: pointer;
}

.tweet-interact-retweet-menu span:before,
.tweet-interact-more-menu span:before {
    margin-right: 5px !important
}

.tweet-media-element-censor {
    -moz-filter: blur(20px);
    -webkit-filter: blur(20px);
    cursor: pointer;
    filter: blur(20px);
    transform: scale(1.03)
}

#wtf {
    padding: 10px;
    width: 250px
}

#wtf h1,
#trends h1 {
    color: var(--darker-gray);
    display: inline-block;
    font-size: 22px;
    font-weight: 300;
    margin: 0
}

#wtf-refresh,
#wtf-viewall {
    color: var(--light-gray);
    cursor: pointer;
    font-size: 12px;
    text-decoration: none
}

a:hover,
.tweet-header-info:hover,
.tweet-body-text a:hover,
.center-text:hover,
#wtf-refresh:hover,
#wtf-viewall:hover {
    text-decoration: underline
}

.tweet-avatar,
.tweet-avatar-quote {
    border-radius: 5px
}

.tweet-interact-retweet:before,
.tweet-interact-retweet-menu-retweet:before {
    content: "\f152"
}

.tweet-interact-reply-clicked,
.tweet-interact-reply-clicked:before,
.tweet-interact-reply:hover:before,
.tweet-interact-reply:hover,
.tweet-interact-more:hover:before {
    color: var(--more-color) !important
}

.tweet-interact-retweeted,
.tweet-interact-retweeted:before,
.tweet-interact-retweet:hover:before,
.tweet-interact-retweet:hover {
    color: #5c913b !important
}

.tweet-interact-retweet-menu-quote:before,
.tweet-interact-more-menu-embed:before {
    content: "\f204"
}

.wtf-user {
    display: inline-block;
    margin-bottom: 5px
}

.wtf-user-link {
    text-decoration: none !important
}

.wtf-user-name {
    display: inline-block;
    margin-right: 5px;
    overflow: hidden
}

.wtf-user-handle {
    display: inline-block;
    height: 17px;
    overflow: hidden;
}

.follow,
.following {
    color: var(--almost-black);
    padding: 4px 12px !important
}

.follow:before {
    color: var(--light-gray);
    content: "\f175";
    font-family: RosettaIcons;
    margin-right: 7px;
    vertical-align: text-bottom
}

.following:before {
    color: var(--link-color);
    content: "\f176";
    font-family: RosettaIcons;
    margin-right: 7px;
    vertical-align: text-bottom
}

.tweet-self-thread-button {
    font-size: 13px;
    margin-top: 2px;
    text-decoration: none
}

.tweet-no-top {
    border-top: none !important
}

.tweet-self-thread-line {
    background-color: var(--border);
    height: 52px;
    margin-left: -34px;
    position: absolute;
    width: 2px;
    z-index: 1
}

.tweet-self-thread-line-dots {
    border: 2px var(--background-color) solid;
    display: unset;
    height: 2px;
    margin-left: -41px;
    margin-top: 2px;
    position: absolute;
    width: 12px;
    z-index: 2
}

.tweet:hover .tweet-self-thread-line-dots {
    border: 2px var(--dark-background-color) solid !important
}

.user-verified::after {
    color: #55acee;
    content: "\f099";
    font-family: RosettaIcons;
    margin-left: 5px
}

.user-protected::after {
    color: #ddd22b;
    content: "\f096";
    font-family: RosettaIcons;
    margin-left: 5px
}

#about {
    color: var(--light-gray);
    font-size: 12px;
    margin-top: 5px;
    padding: 10px 3px;
}

.about-links a,
.about-links span {
    color: var(--light-gray);
    margin-right: 8px
}

#trends {
    margin-top: 10px;
    padding: 10px
}

.trend {
    margin-top: 10px
}

.trend-description {
    color: var(--light-gray);
    font-size: 14px
}

#delete-all {
    float: right;
    margin-top: 5px;
    color: var(--light-gray);
}
#delete-all:hover {
    cursor: pointer;
    text-decoration: underline;
}
.tweet-delete-bookmark {
    float: right;
    color: var(--light-gray);
    margin-top: -8px;
    font-size: 24px;
    margin-left: -16px;
}
.tweet-delete-bookmark-lower {
    margin-top: 14px;
    margin-left: -12px;
}

.tweet:first-child {
    border-top: 1px solid var(--border) !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#timeline > :last-child {
    border-bottom: 1px solid var(--border) !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* A little smaller UI */
@media screen and (max-width: 1195px) {
    #wtf {
        width: fit-content;
        max-width: 250px;
    }
    .wtf-user-name, .wtf-user-handle {
        font-size: 12px;
    }
    #user-banner {
        width: 258px;
    }
    .user-stat-div>h2 {
        font-size: 12px;
    }
    .user-stat-div>h1 {
        font-size: 18px;
    }
}
/* no right-cell */
@media screen and (max-width: 1167px) {
    #wtf {
        display: none;
    }
    #about {
        display: none;
    }
}
/* no left-cell */
@media screen and (max-width: 880px) {
    #left-cell, #right-cell {
        display: none;
    }
    #center-cell {
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
        width: 590px;
        margin-top: 70px !important;
    }
    #bookmarks {
        width: 590px;
        padding: 0;
    }
}
/* Mobile UI */
@media screen and (max-width: 590px) {
    #center-cell {
        margin: 0 auto;
        width: 100%;
    }
    #bookmarks {
        width: 100%;
    }
    #bookmarks > h1 {
        margin-left: 10px;
    }
    #delete-all {
        margin-right: 10px;
    }
    .tweet:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}