<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Old Twitter - Timeline</title>
</head>
<body>
    <header></header>
    <div id="container">
		<div id="content">
            <div class="cell" id="left-cell">
                <div id="user-div" class="box">
                    <img id="user-banner" height="100" width="310">
                    <div id="user-data">
                        <img id="user-avatar" width="70" height="70">
                        <div id="user-info">
                            <h1 id="user-name">Loading</h1>
                            <h2 id="user-handle">@loading</h2>
                        </div>
                        <div id="user-stats">
                            <div class="user-stat-div">
                                <h2>Tweets</h2>
                                <h1 id="user-tweets">0</h1>
                            </div>
                            <div class="user-stat-div">
                                <h2>Following</h2>
                                <h1 id="user-following">0</h1>
                            </div>
                            <div class="user-stat-div">
                                <h2>Followers</h2>
                                <h1 id="user-followers">0</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell" id="center-cell">
                <div id="new-tweets" class="center-text" hidden></div>
                <div id="timeline"></div>
                <div class="center-text" id="more-tweets">Load more tweets</div>
            </div>
            <div class="cell" id="right-cell"></div>
        </div>
    </div>
</body>
</html>