<div id="navbar">
    <div id="navbar-container">
        <div id="navbar-links">
            <a href="/home" id="home">__MSG_home__</a>
            <a href="/notifications" id="notifications">__MSG_notifications__ <span id="notifications-count" class="nav-count" hidden></span></a>
            <a id="messages">__MSG_messages__ <span id="messages-count" class="nav-count" hidden></span></a>
        </div>
        <div id="twitter-logo-div">
            <a id="twitter-logo" href="/home"></a>
        </div>
        <div id="navbar-right">
            <div id="search">
                <input id="search-input" type="text" placeholder="__MSG_search_twitter__" autocomplete="off" spellcheck="false">
                <button id="search-icon"></button>
                <div id="search-results" hidden></div>
            </div>
            <div id="navbar-user">
                <img id="navbar-user-avatar" width="32" height="32">
                <div id="navbar-user-menu" hidden>
                    <div id="navbar-user-menu-links">
                        <a href="/" id="navbar-user-menu-profile">__MSG_profile__</a><br>
                        <a href="/old/settings" id="navbar-user-menu-settings">__MSG_settings__</a><br>
                        <a href="/i/lists" id="navbar-user-menu-lists">__MSG_lists__</a><br>
                        <a href="/i/bookmarks" id="navbar-user-menu-bookmarks">__MSG_bookmarks__</a>
                        <br id="navbar-user-menu-requests-br" hidden>
                        <a id="navbar-user-menu-requests" style="display:none">__MSG_follow_requests__ <span id="follow-request-count">0</span></a>
                        <hr>
                        <a href="https://mobile.twitter.com/account/switch" id="navbar-user-menu-accounts">__MSG_manage_accounts__</a>
                    </div>
                    <div id="navbar-user-accounts"></div>
                    <hr>
                    <a href="#" id="navbar-user-menu-logout">__MSG_logout__</a>
                </div>
            </div>
            <button id="navbar-tweet-button">
                <span id="navbar-tweet-highlight"></span>
                <span>__MSG_tweet__</span>
            </button>
        </div>
    </div>
</div>
<div id="navbar-line"></div>