<div id="navbar">
    <div id="navbar-container">
        <div id="navbar-links">
            <a href="/home" id="home">Home</a>
            <a href="/notifications" id="notifications">Notifications <span id="notifications-count" class="nav-count" hidden></span></a>
            <a id="messages">Messages <span id="messages-count" class="nav-count" hidden></span></a>
        </div>
        <div id="twitter-logo-div">
            <a id="twitter-logo" href="/home"></a>
        </div>
        <div id="navbar-right">
            <div id="search">
                <input id="search-input" type="text" placeholder="Search Twitter" autocomplete="off" spellcheck="false">
                <button id="search-icon"></button>
                <div id="search-results" hidden></div>
            </div>
            <div id="navbar-user">
                <img id="navbar-user-avatar" width="32" height="32">
                <div id="navbar-user-menu" hidden>
                    <div id="navbar-user-menu-links">
                        <a href="/" id="navbar-user-menu-profile">Profile</a><br>
                        <a href="/old/settings" id="navbar-user-menu-settings">Settings</a><br>
                        <hr>
                        <a href="https://mobile.twitter.com/account/switch" id="navbar-user-menu-accounts">Manage accounts</a>
                    </div>
                    <div id="navbar-user-accounts">

                    </div>
                    <hr>
                    <a href="#" id="navbar-user-menu-logout">Logout</a>
                </div>
            </div>
            <button id="navbar-tweet-button">
                <span id="navbar-tweet-highlight"></span>
                <span>Tweet</span>
            </button>
        </div>
    </div>
</div>
<div id="navbar-line"></div>