:root {
    --link-color: #3300FF;
    --font: Arial, sans-serif;
    --favorite-icon-content: "\f147";
    --favorite-icon-content-notif: "\f001";
    --favorite-icon-color: #ffac33;
}

#navbar {
    position: fixed;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    height: 46px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-size: 13px;
    color: #66757f;
}

#navbar-line {
    top: 46px;
    position: fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 1px;
    width: 100%;
    z-index: 99;
    left: 0;
}

#navbar-container {
    margin: 0 auto;
    max-width: 1170px;
}

#twitter-logo-div {
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
    bottom: 15px;
    z-index: 97;
}
#twitter-logo {
    position: relative;
    padding-left: 50px;
}
#twitter-logo:before {
    content: "\f179";
    vertical-align: sub;
    font-family: RosettaIcons;
    font-size: 22px;
    color: #1da1f2;
}

#home:before {
    content: "\f053";
}

#notifications:before {
    content: "\f055";
}

#messages:before {
    content: "\f054";
}

#navbar a:before {
    vertical-align: sub;
    margin-right: 7px;
    font-family: RosettaIcons;
    font-size: 20px;
}

#navbar a {
    color: #66757f;
    text-decoration: none;
    z-index: 98;
}

#navbar a:hover {
    color: #55acee;
}

#navbar-links a {
    padding: 13px 15px;
    top: 8px;
    position: relative;
    border-bottom: 3px solid white;
    transition: 0.1s;
}

#navbar-links a:hover {
    border-bottom: 3px solid #55acee;
    transition: 0.1s;
}

.menu-active {
    border-bottom: 3px solid #55acee !important;
}

.menu-active:before {
    color: #55acee !important;
}

.nav-count {
    background: #55acee;
    color: white;
    border-radius: 25px;
    padding: 3px 7px;
    margin-left: 3px;
}

#navbar-right {
    float: right;
    position: relative;
    bottom: 41px;
    display: inline-flex;
    z-index: 98;
    margin-right: 15px;
}

#search-input {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    padding: 5px 27px 6px 12px;
    font-size: 12px;
    line-height: 1;
    color: #292f33;
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    border-radius: 21px;
    transition: all .2s ease-in-out;
    font-family: var(--font);
}

#search-input:focus {
    outline: none;
    color: #292f33;
    text-shadow: none;
    background-color: #fff;
    box-shadow: none;
}

#search-icon {
    border: none;
    background: none;
    float: right;
    position: relative;
    bottom: 27px;
    right: 6px;
    cursor: pointer;
}

#search-icon:before {
    content: "\f058";
    vertical-align: sub;
    font-family: RosettaIcons;
    font-size: 13px;
    color: #66757f;
}

#navbar-user {
    margin-left: 15px;
}

#navbar-user-avatar {
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    width: fit-content;
    min-width: 500px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #e1e8ed;
    padding: 20px;
    background-color: #fefefe;
    top: 30%;
    position: relative;
}

/* The Close Button */
.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    top: 0;
    right: 5px;
    position: absolute;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#navbar-tweet-button {
    background-color: var(--link-color);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 1px 15px 10px 15px;
    margin-left: 15px;
    font-family: var(--font);
}
#navbar-tweet-button:hover {
    filter: brightness(0.9);
}
#navbar-tweet-button:before {
    content: "\f029";
    font-family: RosettaIcons;
    color: white;
    font-size: 20px;
    vertical-align: sub;
    margin-right: 7px;
}
#navbar-tweet-highlight {
    width: 100%;
    margin-top: -1px;
    margin-left: -45px;
    height: 1px;
    position: absolute;
    background: white;
    opacity: 0.2;
}

.navbar-new-tweet-avatar {
    vertical-align: top;
    border-radius: 5px;
}
.navbar-new-tweet-text {
    border: 1px solid #e1e8ed;
    resize: none;
    border-radius: 3px;
    width: 450px;
    padding: 5px;
    font-family: var(--font);
    display: inline-block;
    height: 100px;
    font-size: 18px;
    padding-right: 40px;
    scrollbar-width: thin;
}
.navbar-new-tweet-text::-webkit-scrollbar {
    width: 2px;
}
.navbar-new-tweet-char {
    color: #8899a6;
    font-size: 12px;
    position: absolute;
    margin-left: -46px;
    margin-top: 38px;
    width: 43px;
    text-align: center;
}
.navbar-new-tweet-text:focus {
    outline: none;
}
.navbar-new-tweet {
    border-bottom: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background-color: rgba(255, 255, 255, 0.92);
    padding: 10px;
    width: 538px;
}
.navbar-new-tweet-container {
    border-radius: 5px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background-color: var(--link-color);
}
.navbar-new-tweet-media-div {
    float: right;
    position: relative;
    cursor: pointer;
    right: 15px;
    bottom: 112px;
}
.navbar-new-tweet-media:before {
    content: "\f159";
    font-family: RosettaIcons;
    color: var(--link-color);
    font-size: 20px;
}
.navbar-new-tweet-button {
    float: right;
    margin-top: 5px;
    left: 14px;
    position: relative;
}
.navbar-new-tweet-button:before {
    content: "\f029";
    font-family: RosettaIcons;
    color: var(--link-color);
    font-size: 14px;
    margin-right: 5px;
    vertical-align: bottom;
}
.navbar-new-tweet-media-c {
    width: auto;
    margin: 0;
    display: contents;
}
.navbar-new-tweet-media-cc {
    left: 34px;
    position: relative;
    display: inline;
}
.new-tweet-media-img {
    max-width: 75px;
    max-height: 100px;
    cursor: zoom-in;
}
.new-tweet-media-img-progress {
    position: absolute;
    display: block;
    color: gray;
    font-size: 10px;
    margin-left: 6px;
}
.new-tweet-media-img-remove {
    position: absolute;
    margin-left: -24px;
    margin-top: 8px;
    height: 14px;
    padding: 0px 3px 3px 3px;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 5px;
    cursor: pointer;
}
.new-tweet-media-img-remove:before {
    content: "\f045";
    font-family: RosettaIcons;
    margin-bottom: 2px;
    color: white;
    font-size: 13px;
}
.new-tweet-media-img-alt {
    position: absolute;
    background: rgba(0,0,0, 0.5);
    color: white;
    padding: 1px 4px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 8px;
    margin-left: -57px;
    padding-bottom: 2px;
    cursor: pointer;
}
.new-tweet-media-img-div {
    width: fit-content;
    display: inline-block;
}
.nice-button {
    color: #292f33;
    background-color: #f5f8fa;
    background-image: linear-gradient(#fff,#f5f8fa);
    background-repeat: no-repeat;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    color: #66757f;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    padding: 8px 16px;
}
.nice-button:hover:not([disabled]) {
    color: #292f33;
    text-decoration: none;
    background-color: #e1e8ed;
    background-image: linear-gradient(#fff,#e1e8ed);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    border-color: #e1e8ed;
}
.nice-button:disabled {
    color: lightgray !important;
    cursor: not-allowed;
}
.nice-button:disabled:before {
    color: lightgray !important;
}
#navbar-user-menu {
    position: absolute;
    background: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #8899a6;
    border: 1px solid #8899a6;
    min-width: 130px;
}
#navbar-user-menu hr {
    border-top: #ccd6dd;
    margin: 3px;
}
#navbar-user-menu-links a:before {
    font-family: RosettaIcons;
    margin-right: 5px;
    color: #8899a6;
    font-size: 14px;
    vertical-align: text-bottom;
    width: 12px;
    display: inline-block;
    margin-left: 3px;
}
#navbar-user-menu-profile:before {
    content: "\f056";
}
#navbar-user-menu-settings:before {
    content: "\f059";
}
#navbar-user-menu-display:before {
    content: "\f112";
}
#navbar-user-menu-accounts:before {
    content: "\f205";
}
#navbar-user-menu-logout {
    color: #d34444 !important;
}
#navbar-user-menu-logout:before {
    vertical-align: text-bottom !important;
    width: 12px;
    display: inline-block;
    margin-left: 3px;
    content: "\f065";
    color: #d34444;
    font-size: 16px !important;
}
.navbar-user-account {
    cursor: pointer;
}
.navbar-user-account:hover {
    color: #55acee;
}
.navbar-user-account-avatar, .search-result-item-avatar {
    border-radius: 5px;
    vertical-align: middle;
    margin-bottom: 3px;
}
#navbar-user-accounts {
    margin-top: 3px;
    padding: 2px;
}
#search-results {
    margin-top: 2px;
    position: absolute;
    background: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #8899a6;
    border: 1px solid #8899a6;
    min-width: 130px;
}
.search-result-item {
    display: block;
}
.search-result-item-screen-name {
    font-weight: normal;
    margin-left: 3px;
}
.search-result-item-verified::after {
    content: "\f099";
    color: #55acee;
    font-family: RosettaIcons;
    margin-left: 5px;
}