:root {
    --link-color: #3300FF;
    --font: Arial, sans-serif;
    --favorite-icon-content: "\f147";
    --favorite-icon-content-notif: "\f001";
    --favorite-icon-color: #ffac33;
    --video-cover: contain;
    --background-color: white;
    --darker-background-color: #f5f8fa;
    --almost-black: #292f33;
    --border: #e1e8ed;
    --light-gray: #8899a6;
    --darker-gray: #66757f;
    --lil-darker-gray: #6a7d8c;
    --default-text-color: black;
    --new-tweet-over: rgba(255, 255, 255, 0.92);
    --input-background: white;
    --active-message: #eaf5fd;
    --more-color: #30F;
    --choice-bg: rgb(207, 217, 222);
    --list-actions-bg: #efefef;
}
@font-face {
    font-family: 'RosettaIcons';
    src: url(chrome-extension://__MSG_@@extension_id__/fonts/rosetta.woff);
}

::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-track {
    background: var(--background-color); 
}

::-webkit-scrollbar-thumb {
    background: var(--link-color); 
    border-radius: 3px;
}

input, textarea {
    background-color: var(--input-background);
    color: var(--default-text-color)
}

#navbar {
    position: fixed;
    background-color: var(--background-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    height: 46px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-size: 13px;
    color: var(--darker-gray);
}

#navbar-line {
    top: 46px;
    position: fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 1px;
    width: 100%;
    z-index: 99;
    left: 0;
}

#navbar-container {
    margin: 0 auto;
    max-width: 1222px;
}

#twitter-logo-div {
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
    bottom: 15px;
    z-index: 97;
}
#twitter-logo {
    position: relative;
    padding-left: 50px;
}
#twitter-logo:before {
    content: "\f179";
    vertical-align: sub;
    font-family: RosettaIcons;
    font-size: 22px;
    color: #1da1f2;
}
.center-text {
    background-color: var(--background-color);
    text-align: center;
    margin-top: 10px;
    color: var(--light-gray);
    border: 1px solid var(--border);
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.center-text:hover {
    text-decoration: underline;
}

#home:before {
    content: "\f053";
}

#notifications:before {
    content: "\f055";
}

#messages:before {
    content: "\f054";
}

#navbar a:before {
    vertical-align: sub;
    margin-right: 7px;
    font-family: RosettaIcons;
    font-size: 20px;
}

#navbar a {
    color: var(--darker-gray);
    text-decoration: none;
    z-index: 98;
}

#navbar a:hover {
    color: #55acee;
}

#navbar-links a {
    padding: 13px 15px;
    top: 8px;
    position: relative;
    border-bottom: 3px solid transparent;
    transition: 0.1s;
}

#navbar-links a:hover {
    border-bottom: 3px solid #55acee;
    transition: 0.1s;
}

.menu-active {
    border-bottom: 3px solid #55acee !important;
}

.menu-active:before {
    color: #55acee !important;
}

.nav-count {
    background: #55acee;
    color: var(--background-color);
    border-radius: 25px;
    padding: 3px 7px;
    margin-left: 3px;
}
#follow-request-count {
    background: #55acee;
    color: var(--background-color);
    border-radius: 25px;
    padding: 2px 7px;
    margin-left: 3px;
    font-size: 12px;
    height: 14px;
}

#navbar-right {
    float: right;
    position: relative;
    bottom: 41px;
    display: inline-flex;
    z-index: 98;
    margin-right: 15px;
}

#search-input {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    padding: 5px 27px 6px 12px;
    font-size: 12px;
    line-height: 1;
    color: var(--almost-black);
    background-color: var(--darker-background-color);
    border: 1px solid var(--border);
    border-radius: 21px;
    transition: all .2s ease-in-out;
    font-family: var(--font);
}

#search-input:focus {
    outline: none;
    color: var(--almost-black);
    text-shadow: none;
    background-color: var(--background-color);
    box-shadow: none;
}

#search-icon {
    border: none;
    background: none;
    float: right;
    position: relative;
    bottom: 27px;
    right: 6px;
    cursor: pointer;
}

#search-icon:before {
    content: "\f058";
    vertical-align: sub;
    font-family: RosettaIcons;
    font-size: 13px;
    color: var(--darker-gray);
}

#navbar-user {
    margin-left: 15px;
}

#navbar-user-avatar {
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    width: fit-content;
    min-width: 500px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid var(--border);
    padding: 20px;
    background-color: var(--background-color);
    top: 20%;
    position: relative;
    max-height: 60%;
    overflow-y: inherit;
}

/* The Close Button */
.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    top: 0;
    right: 5px;
    position: absolute;
}

.modal-close:hover,
.modal-close:focus {
    color: var(--default-text-color);
    text-decoration: none;
    cursor: pointer;
}
#navbar-tweet-button {
    background-color: var(--link-color);
    color: var(--background-color);
    cursor: pointer;
    border-radius: 5px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 1px 15px 10px 15px;
    margin-left: 15px;
    font-family: var(--font);
}
#navbar-tweet-button:hover {
    filter: brightness(0.9);
}
#navbar-tweet-button:before {
    content: "\f029";
    font-family: RosettaIcons;
    color: var(--background-color);
    font-size: 20px;
    vertical-align: sub;
    margin-right: 7px;
}
#navbar-tweet-highlight {
    width: 100%;
    margin-top: -1px;
    margin-left: -45px;
    height: 1px;
    position: absolute;
    background: var(--background-color);
    opacity: 0.2;
}

.navbar-new-tweet-avatar, .new-message-user-avatar {
    vertical-align: top;
    border-radius: 5px;
}
.navbar-new-tweet-text {
    border: 1px solid var(--border);
    resize: none;
    border-radius: 3px;
    width: 450px;
    padding: 5px;
    font-family: var(--font);
    display: inline-block;
    height: 100px;
    font-size: 18px;
    padding-right: 40px;
    scrollbar-width: thin;
}
.navbar-new-tweet-text::-webkit-scrollbar {
    width: 2px;
}
.navbar-new-tweet-char {
    color: var(--light-gray);
    font-size: 12px;
    position: absolute;
    margin-left: -46px;
    margin-top: 38px;
    width: 43px;
    text-align: center;
}
.navbar-new-tweet-text:focus {
    outline: none;
}
.navbar-new-tweet {
    border-bottom: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background-color: var(--new-tweet-over);
    padding: 10px;
    width: 538px;
}
.navbar-new-tweet-container {
    border-radius: 5px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background-color: var(--link-color);
}
.navbar-new-tweet-media-div {
    float: right;
    position: relative;
    cursor: pointer;
    right: 15px;
    bottom: 112px;
}
.navbar-new-tweet-media:before {
    content: "\f159";
    font-family: RosettaIcons;
    color: var(--link-color);
    font-size: 20px;
}
.navbar-new-tweet-button {
    float: right;
    margin-top: 5px;
    left: 14px;
    position: relative;
    margin-right: -21px;
}
.navbar-new-tweet-button:before {
    content: "\f029";
    font-family: RosettaIcons;
    color: var(--link-color);
    font-size: 14px;
    margin-right: 5px;
    vertical-align: bottom;
}
.navbar-new-tweet-media-c {
    width: auto;
    margin: 0;
    display: contents;
}
.navbar-new-tweet-media-cc {
    left: 34px;
    position: relative;
    display: inline;
}
.new-tweet-media-img {
    max-width: 75px;
    max-height: 100px;
    cursor: zoom-in;
}
.new-tweet-media-img-progress {
    position: absolute;
    display: block;
    color: gray;
    font-size: 10px;
    margin-left: 6px;
}
.new-tweet-media-img-remove {
    position: absolute;
    margin-left: -24px;
    margin-top: 8px;
    height: 14px;
    padding: 0px 3px 3px 3px;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 5px;
    cursor: pointer;
}
.new-tweet-media-img-remove:before {
    content: "\f045";
    font-family: RosettaIcons;
    margin-bottom: 2px;
    color: white;
    font-size: 13px;
}
.new-tweet-media-img-alt {
    position: absolute;
    background: rgba(0,0,0, 0.5);
    color: white;
    padding: 1px 4px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 8px;
    margin-left: -57px;
    padding-bottom: 2px;
    cursor: pointer;
}
.new-tweet-media-img-div {
    width: fit-content;
    display: inline-block;
}
.nice-button {
    color: var(--almost-black);
    background-color: var(--darker-background-color);
    background-image: linear-gradient(var(--background-color),var(--darker-background-color));
    background-repeat: no-repeat;
    border: 1px solid var(--border);
    border-radius: 4px;
    color: var(--darker-gray);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    padding: 8px 16px;
}
.nice-button:hover:not([disabled]) {
    color: var(--almost-black);
    text-decoration: none;
    background-color: var(--border);
    background-image: linear-gradient(var(--background-color),var(--border));
    border-color: var(--border);
}
.nice-button:disabled {
    color: lightgray !important;
    cursor: not-allowed;
}
.nice-button:disabled:before {
    color: lightgray !important;
}
#navbar-user-menu {
    position: absolute;
    background: var(--background-color);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--light-gray);
    border: 1px solid var(--light-gray);
    min-width: 130px;
}
#navbar-user-menu hr {
    border-color: var(--border);
    border-bottom: none;
    margin: 3px;
}
#navbar-user-menu-links a:before {
    font-family: RosettaIcons;
    margin-right: 5px;
    color: var(--light-gray);
    font-size: 14px;
    vertical-align: text-bottom;
    width: 12px;
    display: inline-block;
    margin-left: 3px;
}
.nice-header {
    margin: 0;
    display: inline-block;
    font-size: 18px;
    color: var(--darker-gray);
    font-weight: 300;
}
.nice-header {
    margin-bottom: 10px;
}
#navbar-user-menu-profile:before {
    content: "\f056";
}
#navbar-user-menu-settings:before {
    content: "\f059";
}
#navbar-user-menu-bookmarks:before {
    content: "\f093";
}
#navbar-user-menu-lists:before {
    content: "\f094";
}
#navbar-user-menu-display:before {
    content: "\f112";
}
#navbar-user-menu-accounts:before {
    content: "\f205";
}
#navbar-user-menu-requests {
    cursor: pointer;
}
#navbar-user-menu-requests:before {
    content: "\f175";
}
#navbar-user-menu-logout {
    color: #d34444 !important;
}
#navbar-user-menu-logout:before {
    vertical-align: text-bottom !important;
    width: 12px;
    display: inline-block;
    margin-left: 3px;
    content: "\f065";
    color: #d34444;
    font-size: 16px !important;
}
.navbar-user-account {
    cursor: pointer;
}
.navbar-user-account:hover {
    color: #55acee;
}
.navbar-user-account-avatar, .search-result-item-avatar {
    border-radius: 5px;
    vertical-align: middle;
    margin-bottom: 3px;
}
#navbar-user-accounts {
    margin-top: 3px;
    padding: 2px;
}
#search-results {
    margin-top: 2px;
    position: absolute;
    background: var(--background-color);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--light-gray);
    border: 1px solid var(--light-gray);
    min-width: 130px;
}
.search-result-item {
    display: block;
}
.search-result-item-screen-name {
    font-weight: normal;
    margin-left: 3px;
}
.search-result-item-verified::after {
    content: "\f099";
    color: #55acee;
    font-family: RosettaIcons;
    margin-left: 5px;
}
#search-results {
    position: absolute;
    background-color: var(--background-color);
    padding: 5px;
    z-index: 5;
    color: var(--almost-black);
}
#search-results a, .navbar-new-tweet-user-search span {
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
}
#search-results a:hover, .search-result-item-active, .navbar-new-tweet-user-search span:hover {
    background-color: var(--link-color) !important;
    color: var(--background-color) !important;
    cursor: pointer;
}
.box {
    background-color: var(--background-color);
    border-radius: 5px;
    border: 1px solid var(--border);
}
#navbar-links {
    width: fit-content;
    margin-left: 27px;
}
.search-result-item-remove {
    float: right;
    color: var(--almost-black);
    cursor: pointer;
    position: relative;
    bottom: 18px;
    right: 4px;
}
.inbox-modal {
    max-width: 600px !important;
    width: 600px;
}
.inbox-modal hr {
    border-color: var(--border);
    border-bottom: none;
}
.inbox-buttons {
    float: right;
}
.inbox-new {
    background-color: var(--link-color) !important;
    background-image: none !important;
}
.inbox-new-icon:before {
    content: "\f035";
    font-family: RosettaIcons;
    margin-bottom: 2px;
    color: var(--background-color) !important;
    font-size: 16px;
}
.inbox-readall-icon:before {
    content: "\f036";
    font-family: RosettaIcons;
    color: var(--almost-black);
    font-size: 16px;
}
.inbox-refresh-icon:before {
    content: "\f189";
    font-family: RosettaIcons;
    color: var(--almost-black);
    font-size: 16px;
}
.larger {
    font-size: 24px !important;
}
.inbox-message {
    border-bottom: 1px solid var(--border);
    padding-top: 10px;
    cursor: pointer;
    padding: 5px;
    width: 585px;
}
.inbox-message:hover, .inbox-message-unread, .new-message-user:hover {
    background-color: var(--active-message);
}
.inbox-message-avatar {
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    margin-bottom: 5px;
}
.inbox-text {
    width: 515px;
    display: inline-block;
    margin-bottom: 5px;
}
.inbox-screenname, .new-message-user-screenname {
    direction: ltr;
    unicode-bidi: embed;
    font-size: 13px;
    color: var(--light-gray);
    text-decoration: none;
}
.inbox-name, .new-message-user-name {
    font-weight: bold;
    color: var(--almost-black);
    font-size: 14px;
}
.inbox-time {
    font-size: 13px;
    color: var(--light-gray);
    float: right;
}
.inbox-top, .modal-top {
    position: fixed;
    background-color: var(--background-color);
    width: 585px;
    padding-top: 15px;
    margin-top: -20px;
    z-index: 50;
}
.modal-top  {
    width: 495px;
}
.home-top {
    width: 598px;
}
.inbox-message-preview {
    color: var(--light-gray);
    margin-bottom: 5px;
}
.message-element {
    float: right;
    width: 564px;
    text-align: right;
    margin-bottom: 8px;
}
.message-element img {
    border-radius: 5px;
    margin-top: 3px;
    vertical-align: middle;
}
.message-header-avatar {
    border-radius: 5px;
    vertical-align: top;
    margin-top: -2px;
}
.message-element a {
    color: var(--background-color) !important;
}
.message-element a:hover {
    text-decoration: underline;
}
.message-element .message-body {
    background-color: var(--link-color);
    color: var(--background-color);
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    white-space: break-spaces;
    line-height: 1.8;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}
.message-element-other {
    text-align: left;
    float: left;
}
.message-element-other .message-body {
    background-color: #d9e3eb;
    color: black;
}
.message-header-link {
    text-align: center;
    display: block;
    width: fit-content;
    margin: 0 auto;
}
.message-header-link:hover {
    text-decoration: none;
}
.message-header-back {
    cursor: pointer;
    float: left;
    margin-top: 3px;
}
.message-header-back:before {
    content: "\f172";
    color: var(--light-gray);
    font-family: RosettaIcons;
}
.message-element-media {
    cursor: pointer;
    object-fit: cover;
    max-width: fit-content;
    border-radius: 5px;
}
.message-time {
    color: var(--light-gray);
    font-size: 12px;
}
.message-menu-open {
    cursor: pointer;
}
.message-menu-open:before {
    color: var(--background-color);
    font-size: 12px;
    content: "\f150";
    font-family: RosettaIcons;
    margin-right: 5px;
}
.message-element:hover .message-menu-open:before {
    color: var(--light-gray);
}
.message-menu-delete {
    cursor: pointer;
}
.message-menu-delete:before {
    content: "\f154";
    font-family: RosettaIcons;
    color: var(--light-gray);
    margin-right: 5px;
}
.message-menu {
    position: absolute;
    background-color: var(--background-color);
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    z-index: 5;
    right: 63px;
}
.message-menu span {
    color: var(--light-gray);
    font-size: 12px;
    font-weight: bold;
    margin-left: 6px;
    position: relative;
    top: -2px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
}
.message-new {
    position: fixed;
    display: contents;
}
.messages-list {
    margin-bottom: 20px;
    display: flow-root;
}
.message-new-input, .new-message-user-search, .circle-user-search {
    border: 1px solid var(--border);
    resize: none;
    border-radius: 3px;
    width: 426px;
    padding: 5px;
    font-family: var(--font);
    display: inline-block;
    height: 22px;
    font-size: 14px;
    padding-right: 40px;
    scrollbar-width: thin;
    vertical-align: bottom;
}
.message-new-media-btn {
    cursor: pointer;
    vertical-align: sub;
}
.message-new-media-btn:before {
    content: "\f159";
    font-family: RosettaIcons;
    color: var(--link-color);
    font-size: 22px;
    margin-right: 5px;
}
#messages {
    cursor: pointer;
}
.new-name-top {
    text-align: center;
    width: 598px;
}
.new-message-group {
    float: right;
    margin-left: 11px;
    margin-top: -3px;
}
.new-message-user-text {
    display: inline-grid;
    margin-left: 8px;
    margin-top: 7px;
}
.new-message-user {
    padding: 4px;
    cursor: pointer;
}
.message-leave {
    float: right;
    cursor: pointer;
    position: relative;
    bottom: 38px;
    font-size: 21px;
    right: 25px;
}
.message-leave:before {
    content: "\f154";
    font-family: RosettaIcons;
    color: var(--light-gray);
    margin-right: 5px;
}
.name-top {
    width: 618px !important;
}
.navbar-new-tweet-user-search {
    background-color: var(--background-color);
    color: var(--almost-black);
    padding: 5px;
    z-index: 5
}
.tweet-poll {
    margin-top: 10px;
}
.choice {
    display: block;
    margin-bottom: -12px;
}
.choice-bg {
    height: 22px;
    background-color: var(--choice-bg);
    border-radius: 5px;
    padding: 1px;
}
.choice-unselected:hover .choice-bg {
    opacity: 0.8;
}
.choice-label {
    position: relative;
    bottom: 20px;
    left: 8px;
}
.choice-selected:before {
    content: "\f043";
    font-family: RosettaIcons;
    color: var(--default-text-color);
    font-size: 13px;
    vertical-align: baseline;
}
.choice-count {
    position: relative;
    float: right;
    bottom: 37px;
    right: 7px;
}
.poll-footer {
    font-size: 14px;
    color: var(--light-gray);
}
.choice-unselected {
    cursor: pointer;
}
#navbar-new-tweet-poll-btn {
    float: right;
    position: relative;
    cursor: pointer;
    bottom: 89px;
    left: 4px;
}
#navbar-new-tweet-poll-btn:before {
    color: var(--link-color);
    content: "\f199";
    font: 20px RosettaIcons;
}
.navbar-poll-question, .navbar-poll-date {
    border: 1px solid var(--border);
    border-radius: 5px;
    font: 16px var(--font);
    padding: 3px;
    width: 100%
}
#navbar-new-tweet-poll {
    position: relative;
    left: 39px;
    top: 8px;
    display: inline-block;
    color: var(--default-text-color);
}
#navbar-new-tweet-poll hr {
    border-color: var(--border);
    border-bottom: none;
}
.tweet-player {
    border: none;
    border-radius: 5px;
}
.tweet-date {
    color: var(--light-gray);
    font-size: 14px
}

.tweet-footer-stat {
    display: grid;
    text-decoration: none
}

.tweet-footer {
    border-bottom: 1px solid var(--border);
    border-top: 1px solid var(--border);
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%
}

.tweet-footer-stats {
    border-right: 1px solid var(--border);
    display: inline-flex;
    float: left;
    padding-bottom: 5px
}

.tweet-footer-favorites {
    display: inline-flex;
    float: left;
    margin-left: 10px;
    margin-top: 12px
}

.tweet-footer-stat-text {
    color: var(--light-gray);
    float: left;
    font-size: 10px;
    line-height: 16px;
    padding: 7px 28px 0 0;
    text-transform: uppercase
}

.tweet-footer-stat:hover .tweet-footer-stat-text {
    color: var(--link-color)
}

.tweet-footer-stat-count {
    color: var(--link-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 20px
}

.tweet-time[hidden] {
    display: none !important
}

.tweet-header-info-main {
    display: inline-grid !important;
    width: fit-content
}

.tweet-header-info-main>b {
    font-size: 18px;
    line-height: 1.25;
    margin-top: 3px;
    padding-top: 2px
}

.tweet-body-main {
    display: block !important;
    margin-top: 10px
}

.tweet-main {
    padding: 20px
}

.tweet-footer-favorites-img {
    border-radius: 5px;
    margin-right: 5px
}

.tweet-header-follow {
    float: right;
    margin-top: 2px;
    padding: 9px 12px !important
}

.following-item-btn {
    bottom: 52px;
    float: right;
    height: 40px;
    position: relative
}

.following-item-text {
    bottom: 14px;
    display: inline-block;
    margin-left: 8px;
    position: relative;
    width: fit-content
}

.following-item {
    margin-bottom: 5px
}

.following-list,
.followers-list {
    padding: 10px
}

.following-item-name {
    position: absolute;
    width: 300px
}

.new-tweet-user-search {
    background-color: var(--background-color);
    color: var(--almost-black);
    padding: 5px;
    position: absolute;
    z-index: 5
}

.new-tweet-user-search span {
    border-radius: 5px;
    cursor: pointer;
    padding: 2px
}

.new-tweet-user-search span:hover,
.search-result-item-active {
    background-color: var(--link-color) !important;
    color: var(--background-color) !important
}
.tweet-viewer {
    width: 580px;
    max-height: 100%;
}
.new-tweet-avatar {
    vertical-align: top
}

.new-tweet-text {
    border: 1px solid var(--border);
    border-radius: 3px;
    display: inline-block;
    font: 18px var(--font);
    height: 23px;
    padding: 5px;
    padding-right: 40px;
    resize: none;
    scrollbar-width: thin;
    width: 450px
}

.new-tweet-text::-webkit-scrollbar {
    width: 2px
}

.new-tweet-text:focus {
    outline: none
}

.new-tweet-text-focused {
    height: 100px !important
}

.new-tweet {
    background-color: var(--new-tweet-over);
    border-bottom: none !important;
    border-radius: 0 !important;
    border-top: none !important;
    padding: 10px;
    width: 538px
}
.new-tweet-view {
    background-color: var(--new-tweet-over);
    border-bottom: none !important;
    border-radius: 0 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    padding: 10px;
    width: 541px;
}


.new-tweet-container {
    background-color: var(--link-color);
    width: fit-content
}

.new-tweet-media-div {
    bottom: 36px;
    cursor: pointer;
    float: right;
    position: relative;
    right: 15px
}

.new-tweet-media-div-focused {
    bottom: 112px !important
}

.new-tweet-media:before {
    color: var(--link-color);
    content: "\f159";
    font: 20px RosettaIcons
}

.new-tweet-button {
    float: right;
    left: 5px;
    margin-top: 5px;
    position: relative
}

.new-tweet-char {
    color: var(--light-gray);
    font-size: 12px;
    margin-left: -46px;
    margin-top: 38px;
    position: absolute;
    text-align: center;
    width: 43px
}
.tweet-view-self-thread-div {
    bottom: 35px;
    position: relative
}
.tweet-view-self-thread-button {
    font-size: 13px;
    margin-top: 2px;
    text-decoration: none
}

.tweet-no-top {
    border-top: none !important
}

.tweet-view-self-thread-line {
    background-color: var(--border);
    height: 32px;
    margin-top: 21px;
    margin-left: -34px;
    position: absolute;
    width: 2px;
    z-index: 1;
}

.tweet-view-self-thread-line-dots {
    border: 2px var(--background-color) solid;
    display: unset;
    height: 2px;
    margin-left: -41px;
    margin-top: 23px;
    position: absolute;
    width: 12px;
    z-index: 2;
}

.tweet:hover .tweet-view-self-thread-line-dots {
    border: 2px var(--darker-background-color) solid !important
}
.cool-header {
    color: var(--darker-gray);
    display: inline-block;
    font-size: 22px;
    font-weight: 300;
    margin: 0
}

.cool-header {
    margin-bottom: 10px
}
.tweet-view {
    border-right: none !important;
    border-left: none !important;
}
.timeline-more {
    margin-bottom: -10px;
}
.user-preview {
    position: absolute;
    z-index: 5;
    background-color: var(--background-color);
    border: 1px solid var(--border);
    border-radius: 5px;
}
.preview-user-banner {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}
.preview-user-info {
    left: 10px;
    position: relative;
    text-decoration: none !important;
}
.preview-user-stats {
    display: inline-flex;
    padding-bottom: 7px;
}
.preview-user-avatar {
    border: 4px solid var(--background-color);
    border-radius: 7px;
    margin-left: 7px;
    margin-top: -32px;
}
.preview-user-name {
    color: var(--almost-black);
    font-size: 22px;
    margin: 0;
    position: relative;
    width: 195px;
    overflow-x: hidden;
}
.preview-user-handle {
    color: var(--lil-darker-gray);
    font-size: 14px;
    font-weight: 100;
    margin: 0;
    position: relative;
    width: fit-content;
}
.preview-user-follow {
    float: right;
    bottom: 68px;
    position: relative;
    right: 7px;
}
.preview-user-description {
    width: 280px;
    color: var(--darker-gray);
    font-size: 15px;
    left: 10px;
    position: relative;
    display: block;
    margin-top: 5px;
}
.tweet-media-controls {
    color: var(--lil-darker-gray);
    font-size: 12px;
    margin-top: 5px;
}
.tweet-video-quality:hover,
.tweet-video-reload:hover {
    cursor: pointer;
    text-decoration: underline;
}
.tweet-video-quality-current:hover {
    cursor: auto;
    text-decoration: none;
}
.tweet-video-quality-current {
    color: var(--almost-black);
}
.tweet-warning {
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 5px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 5px;
}
.message-element .emoji {
    vertical-align: text-bottom;
}
.changelog-modal {
    max-width: 800px;
}
.changelog-modal ul {
    margin: 5px;
}

.tweet-active:not(.tweet-view)::after {
    content: "•";
    float: right;
    color: #1da1f2;
    height: 10px;
    font-size: 36px;
    margin-top: -19px;
    margin-right: -8px;
}
.tweet-preload::after {
    color: #1df2e7 !important;
}
.tweet-thread-right {
    float: right;
    margin-right: 5px;
}
.request-item-btn {
    float: right;
    position: relative;
    bottom: 46px;
    height: 40px;
    margin-right: 5px;
}
.accept {
    color: darkgreen;
}
.decline {
    color: darkred;
}

.tweet-interact-more-menu-copy:before {
    content: "\f203"
}

.tweet-interact-more-menu-share:before {
    content: "\f185"
}

.tweet-interact-more-menu-analytics:before {
    content: "\f200"
}

.tweet-interact-more-menu-refresh:before {
    content: "\f303"
}

.tweet-interact-more-menu-download:before {
    content: "\f186"
}

.tweet-interact-more-menu-download-gif:before {
    content: "\f309"
}

.tweet-interact-more-menu-delete:before {
    content: "\f154"
}

.tweet-interact-more-menu-follow:before {
    content: "\f056"
}
.tweet-interact-more-menu-bookmark:before {
    content: "\f093"
}

.tweet-interact-more-menu-feedback:before {
    content: "\f044"
}
.tweet-interact-more-menu-mute:before {
    content: "\f055"
}
.tweet-interact-more-menu-pin:before {
    content: "\f003"
}