<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>__MSG_search__ - __MSG_twitter__</title>
    <link rel="preconnect" href="https://twitter.com">
    <link rel="preconnect" href="https://abs.twimg.com">
    <link rel="preconnect" href="https://pbs.twimg.com">
    <link rel="preconnect" href="https://dimden.dev">
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
</head>
<body id="injected-body">
    <div id="loading-box">
        <div id="loading-box-container">
            <span id="loading-box-text"></span>
        </div>
    </div>
    <header></header>
    <div id="fake-react-root">
        <main id="container">
            <div id="content">
                <div class="cell" id="left-cell">
                    <div class="box search-switches">
                        <span class="search-switch" id="ns-popular">__MSG_popular__</span>
                        <hr>
                        <span class="search-switch" id="ns-live">__MSG_live__</span>
                        <hr>
                        <span class="search-switch" id="ns-people">__MSG_people__</span>
                        <hr>
                        <span class="search-switch" id="ns-photos">__MSG_photos__</span>
                        <hr>
                        <span class="search-switch" id="ns-videos">__MSG_videos__</span>
                    </div>
                    <div class="box search-switches">
                        <span class="search-switch" id="ns-allpeople">__MSG_all_people__</span>
                        <hr>
                        <span class="search-switch" id="ns-followedpeople">__MSG_people_yk__</span>
                    </div>
                    <div class="box search-switches">
                        <span class="search-switch" id="ns-everywhere">__MSG_everywhere__</span>
                        <hr>
                        <span class="search-switch" id="ns-near">__MSG_near_you__</span>
                    </div>
                    <div class="box search-switches">
                        <span class="search-switch" id="advanced">__MSG_advanced_search__</span>
                    </div>
                    <div id="save-search-left" class="center-text" hidden>__MSG_save_search__</div>
                    <div id="trends" class="box">
                        <h1>__MSG_trends__</h1>
                        <div id="trends-list">
                        </div>
                    </div>
                    <div class="about" id="about-left">
                        <span>
                            __MSG_running__ <a href="https://github.com/dimdenGD/OldTwitter" target="_blank">OldTwitter</a> v<span id="oldtwitter-version-left">0.0.0</span>.<br>
                            __MSG_created_by__ <a href="/dimden" target="_blank">dimden</a>.
                        </span>
                        <br>
                        <div class="about-links">
                            <span>© 2026 dimden</span> 
                            <a href="https://dimden.dev/" target="_blank">__MSG_website__</a>
                            <a href="/dimden">Twitter</a>
                            <a href="https://dimden.dev/donate" target="_blank" id="donate-button">__MSG_donate__</a>
                        </div>
                        <div class="about-links">
                            <span id="twitter-copyright-left">© 2015 Twitter</span> 
                            <a href="/about">__MSG_about__</a>
                            <a href="https://support.twitter.com">__MSG_help__</a>
                            <a href="/tos">__MSG_terms__</a>
                            <a href="/privacy">__MSG_privacy__</a>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="cell" id="center-cell">
                    <div id="new-tweets" class="center-text" hidden>__MSG_see_new_tweets__</div>
                    <section>
                        <div>
                            <div>
                                <div id="timeline"></div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="cell" id="right-cell">
                    <div id="save-search-right" class="center-text">__MSG_save_search__</div>
                    <div id="wtf" class="box">
                        <h1>__MSG_who_to_follow__</h1><br>
                        <span id="wtf-refresh">__MSG_refresh__</span> <span id="bulletpoint">·</span> <a id="wtf-viewall" target="_blank" href="/i/connect_people?newtwitter=true&user_id=">__MSG_view_all__</a>
                        <br><br>
                        <div id="wtf-list"></div>
                    </div>
                    <div class="about" id="about-right">
                        <span>
                            __MSG_running__ <a href="https://github.com/dimdenGD/OldTwitter" target="_blank">OldTwitter</a> v<span id="oldtwitter-version">0.0.0</span>.<br>
                            __MSG_created_by__ <a href="/dimden" target="_blank">dimden</a>.
                        </span>
                        <br>
                        <div class="about-links">
                            <span>© 2026 dimden</span> 
                            <a href="https://dimden.dev/" target="_blank">__MSG_website__</a>
                            <a href="/dimden">Twitter</a>
                            <a href="https://dimden.dev/donate" target="_blank" id="donate-button">__MSG_donate__</a>
                        </div>
                        <div class="about-links">
                            <span id="twitter-copyright-right">© 2015 Twitter</span> 
                            <a href="/about">__MSG_about__</a>
                            <a href="https://support.twitter.com">__MSG_help__</a>
                            <a href="/tos">__MSG_terms__</a>
                            <a href="/privacy">__MSG_privacy__</a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>