#loading-box {
    background-color: var(--background-color);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 200
}

#loading-box-text:before {
    color: #1da1f2;
    content: "\f179";
    font: 64px var(--icon-font);;
    margin-left: 20px;
    vertical-align: sub
}

#loading-box-container {
    margin: 0 auto;
    margin-top: 270px;
    text-align: center;
    width: 100%
}

a {
    color: var(--link-color);
    text-decoration: none
}

body {
    background-color: var(--darker-background-color) !important;
    font-family: var(--font);
    margin: 0
}

#container {
    margin: 0 auto;
    max-width: 1190px
}

.cell {
    box-sizing: border-box;
    display: inline-block
}

#content {
    display: flex
}

.box {
    background-color: var(--background-color);
    border: 1px solid var(--border);
    border-radius: 5px
}

#user-banner {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover
}

#user-avatar {
    border: 4px solid var(--background-color);
    border-radius: 7px;
    margin-left: 7px;
    margin-top: -32px
}

#user-name {
    bottom: 47px;
    color: var(--almost-black);
    font-size: 22px;
    left: 95px;
    margin: 0;
    position: relative;
    width: 195px;
    overflow-x: hidden
}

#user-handle {
    bottom: 48px;
    color: var(--lil-darker-gray);
    font-size: 14px;
    font-weight: 100;
    left: 95px;
    margin: 0;
    position: relative;
    width: fit-content
}

#user-stats {
    display: inline-flex;
    padding-bottom: 7px
}

.user-stat-div>h2 {
    color: var(--lil-darker-gray);
    font-size: 14px;
    font-weight: 100;
    margin: 0 10px;
    text-transform: uppercase
}

.user-stat-div>h1 {
    color: var(--link-color);
    font-size: 20px;
    margin: 0 10px
}

#user-info {
    display: block;
    height: 5px;
    text-decoration: none
}

#center-cell {
    margin-top: 55px
}

#left-cell {
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    position: sticky;
    top: 55px
}

#right-cell {
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    position: sticky;
    top: 55px
}

#search-div {
    margin-bottom: 10px;
    min-height: 700px;
    width: 590px
}

#trends {
    margin-top: 10px;
    padding: 10px
}

.trend {
    font-size: 13px
}

.tweet,
.user-item {
    background-color: var(--background-color);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-top: 1px solid var(--border);
    cursor: pointer;
    min-height: 50px;
    padding: 10px;
    width: 568px;
    margin-bottom: 0 !important;
}

.tweet:focus {
    outline: none;
}


.tweet-avatar-link {
    float: left;
    margin-right: 10px
}

.tweet-header,
.tweet-header-quote {
    display: contents
}

.tweet-header-info,
.tweet-header-info-quote {
    bottom: 3px;
    display: inline;
    position: relative;
    text-decoration: none
}

.tweet-header-info-quote {
    bottom: 8px !important
}

.tweet-header-name:hover {
    color: var(--link-color)
}

.tweet-header-name,
.tweet-header-name-quote {
    color: var(--almost-black);
    display: inline;
    font-size: 14px;
    font-weight: 700
}

.tweet-header-handle,
.tweet-time,
.tweet-header-handle-quote,
.tweet-time-quote {
    color: var(--light-gray);
    direction: ltr;
    display: inline;
    font-size: 13px;
    text-decoration: none;
    unicode-bidi: embed
}

.tweet-time {
    bottom: 3px;
    position: relative
}

.tweet-time-quote {
    bottom: 8px;
    position: relative
}

.tweet-time::before {
    color: var(--light-gray) !important;
    content: "\00b7";
    margin-right: 3px
}

.tweet-time:hover {
    color: var(--link-color);
    text-decoration: underline
}

.tweet-body,
.tweet-interact,
.tweet-body-text-quote {
    display: flow-root;
    color: var(--almost-black);
}
.tweet-body {
    min-width: 490px;
}
.tweet-body-text-quote {
    overflow-x: hidden;
}

.tweet-body-text-long {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px
}

.tweet-body-text-short {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 32px
}

.tweet-body-text a {
    text-decoration: none
}

.tweet-interact {
    margin-top: 10px;
    user-select: none
}

.tweet-interact span {
    color: var(--light-gray);
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin-left: 6px;
    margin-right: 20px;
    position: relative;
    text-decoration: none;
    top: -2px
}

.tweet-interact span:before {
    -webkit-font-smoothing: antialiased;
    color: #ccd6dd;
    cursor: pointer;
    font: 400 16px var(--icon-font);;
    margin-right: 10px;
    vertical-align: sub
}

.tweet-interact-reply:before {
    content: "\f151"
}

.tweet-interact-favorite:before {
    content: var(--favorite-icon-content)
}

.tweet-interact-more:before {
    content: "\f150"
}

.tweet-interact-favorited,
.tweet-interact-favorited:before,
.tweet-interact-favorite:hover:before,
.tweet-interact-favorite:hover {
    color: var(--favorite-icon-color) !important
}
.tweet-interact-favorited,
.tweet-interact-favorited:before{
    content: var(--favorite-icon-content-click) !important
}

.tweet-reply-text:focus,
.tweet-quote-text:focus {
    outline: none
}

.tweet-reply-button,
.tweet-quote-button {
    bottom: 16px;
    height: 42px;
    position: relative
}

.nice-button {
    background-color: var(--darker-background-color);
    background-image: linear-gradient(var(--background-color), var(--darker-background-color));
    background-repeat: no-repeat;
    border: 1px solid var(--border);
    border-radius: 4px;
    color: var(--almost-black);
    color: var(--darker-gray);
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    padding: 8px 16px
}

.nice-button:hover:not([disabled]) {
    background-color: var(--border);
    background-image: linear-gradient(var(--background-color), var(--border));
    border-color: var(--border);
    color: var(--almost-black);
    text-decoration: none
}

.nice-button:disabled {
    color: lightgray !important;
    cursor: not-allowed
}

.nice-button:disabled:before {
    color: lightgray !important
}
.nice-red-button {
    color: #d4e3ed;
    background-image: linear-gradient(#BA172C, #6F0D1C);
}

.nice-red-button:hover:not([disabled]) {
    color: #d4e3ed;
    background-image: linear-gradient(#BA172C, #4B0E17);
}

.tweet-top {
    font-size: 13px;
    margin-bottom: 7px;
    margin-left: 35px
}

.tweet-top-icon,
.tweet-top-text {
    color: var(--light-gray);
    display: inline-block
}

.tweet-top-text a {
    color: var(--light-gray);
    text-decoration: none
}

.tweet-top-text a:hover {
    color: var(--link-color) !important;
    text-decoration: underline
}

.tweet-interact-retweet-menu,
.tweet-interact-more-menu {
    background-color: var(--background-color);
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    position: absolute;
    z-index: 5
}

.tweet-interact-more-menu {
    margin-left: 100px
}

.tweet-media {
    display: block;
    max-width: 500px;
    position: relative;
    right: 5px;
    width: fit-content;
}

.tweet-media img {
    cursor: zoom-in
}

.tweet-media-element,
.new-tweet-media-img {
    block-size: auto;
    border: 1px solid var(--border);
    border-radius: 7px;
    margin: 5px;
    object-fit: cover;
    vertical-align: top
}

.tweet-media video {
    object-fit: var(--video-cover)
}

.tweet-interact-retweet-menu span,
.tweet-interact-more-menu span {
    cursor: pointer;
}

.tweet-interact-retweet-menu span:before,
.tweet-interact-more-menu span:before {
    margin-right: 5px !important
}

.tweet-media-element-censor {
    -moz-filter: blur(20px);
    -webkit-filter: blur(20px);
    cursor: pointer;
    filter: blur(20px);
    transform: scale(1.03)
}

#wtf {
    padding: 10px;
    width: 250px
}

#wtf > h1,
#trends h1,
.nice-header {
    color: var(--darker-gray);
    display: inline-block;
    font-size: 22px;
    font-weight: 300;
    margin: 0
}

.nice-header {
    margin-bottom: 5px
}

.nice-subheader {
    color: var(--darker-gray);
    display: inline-block;
    font-weight: 300;
    margin: 0
}

#wtf-refresh,
#wtf-viewall {
    color: var(--light-gray);
    cursor: pointer;
    font-size: 12px;
    text-decoration: none
}

a:hover,
.tweet-header-info:hover,
.tweet-body-text a:hover,
#wtf-refresh:hover,
#wtf-viewall:hover {
    text-decoration: underline
}

.tweet-avatar,
.tweet-avatar-quote {
    border-radius: 5px
}

.tweet-interact-retweet:before,
.tweet-interact-retweet-menu-retweet:before {
    content: "\f152"
}

.tweet-interact-reply-clicked,
.tweet-interact-reply-clicked:before,
.tweet-interact-reply:hover:before,
.tweet-interact-reply:hover,
.tweet-interact-more:hover:before {
    color: var(--more-color) !important
}

.tweet-interact-retweeted,
.tweet-interact-retweeted:before,
.tweet-interact-retweet:hover:before,
.tweet-interact-retweet:hover {
    color: #5c913b !important
}

.tweet-interact-retweet-menu-quote:before,
.tweet-interact-more-menu-embed:before {
    content: "\f204"
}

.wtf-user {
    width:100%;
    display: inline-block;
    margin-bottom: 5px
}

.wtf-user-link {
    text-decoration: none !important
}

.wtf-user-name {
    display: inline-block;
    margin-right: 5px;
    overflow: hidden
}

.wtf-user-handle {
    display: inline-block;
    height: 17px;
    overflow: hidden;
}

.follow,
.following {
    color: var(--almost-black);
    padding: 4px 12px !important
}

.follow:before {
    color: var(--light-gray);
    content: "\f175";
    font-family: var(--icon-font);
    margin-right: 7px;
    vertical-align: text-bottom
}

.following:before {
    color: var(--link-color);
    content: "\f176";
    font-family: var(--icon-font);
    margin-right: 7px;
    vertical-align: text-bottom
}

.tweet-self-thread-button {
    font-size: 13px;
    margin-top: 2px;
    text-decoration: none
}

.tweet-no-top {
    border-top: none !important
}

.tweet-self-thread-line {
    background-color: var(--border);
    height: 52px;
    margin-left: -34px;
    position: absolute;
    width: 2px;
    z-index: 1
}

.tweet-self-thread-line-dots {
    border: 2px var(--background-color) solid;
    display: unset;
    height: 2px;
    margin-left: -41px;
    margin-top: 2px;
    position: absolute;
    width: 12px;
    z-index: 2
}

.tweet:hover .tweet-self-thread-line-dots {
    border: 2px var(--dark-background-color) solid !important
}

.about {
    color: var(--light-gray);
    font-size: 12px;
    margin-top: 5px;
    padding: 10px 3px;
    padding-right: 0;
    word-break: keep-all;
}
#about-right{
    max-width: 272px;
    box-sizing: border-box; 
}


.about-links a,
.about-links span {
    color: var(--light-gray);
    margin-right: 8px
}

#trends {
    margin-top: 10px;
    padding: 10px
}

#trends>h1 {
    margin-bottom: 5px
}


.ni-favorite:before {
    color: var(--favorite-icon-color);
    content: var(--favorite-icon-content-notif)
}

.ni-follow:before {
    color: #55acee;
    content: "\f002"
}

.ni-retweet:before {
    color: #5c913b;
    content: "\f006"
}

.center-text {
    background-color: var(--background-color);
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--light-gray);
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center
}

.search-switches {
    margin-bottom: 10px;
    padding: 10px;
    width: 250px;
    white-space: nowrap
}

.search-switches>hr {
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: 8px;
    border-bottom: 1px solid var(--border);
}

.search-switch {
    color: var(--darker-gray);
    cursor: pointer;
    padding-right: 100px
}

.search-switch:hover,
.search-switch-active {
    color: var(--default-text-color)
}

.search-switch:before {
    color: var(--background-color);
    content: "\f170";
    font-family: var(--icon-font);
    font-weight: 100;
    margin-left: 2px;
    margin-right: 5px;
    vertical-align: text-bottom
}

#advanced:before {
    color: var(--light-gray);
    content: "\f059" !important
}

.search-switch-active:before {
    color: var(--link-color);
    content: "\f170";
    font-family: var(--icon-font);
    font-weight: 100;
    margin-right: 5px
}

.wtf-header {
    display: flow-root
}

.user-item-btn {
    bottom: 46px !important;
    float: right;
    height: 40px;
    position: relative
}

.user-item-text {
    bottom: 11px;
    display: inline-block;
    margin-left: 8px;
    position: relative;
    width: fit-content
}

.user-item-link:hover {
    text-decoration: none
}

.user-item-name {
    position: absolute;
    width: 400px
}

.no-results {
    text-align: center;
    width: 600px;
    height: 1000px;
}

.example {
    color: var(--light-gray);
    font-size: 14px
}

.search-advanced-input {
    border: 1px solid var(--border);
    border-radius: 5px;
    font: 16px var(--font);
    padding: 3px;
    width: 100%
}

#save-search-left {
    margin-top: 0
}
#save-search-right {
    width: 250px;
    margin-top: 0
}

.tweet-self-thread-button:hover,
.tweet-translate:hover,
.center-text:hover {
    text-decoration: underline
}
.modal .tweet {
    width: 550px;
}
.tweet:first-child {
    border-top: 1px solid var(--border) !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tweet:not(.tweet-view):last-child {
    border-bottom: 1px solid var(--border) !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#about-left {
    display: none;
}
/* A little smaller UI */
@media screen and (max-width: 1195px) {
    .search-switch {
        font-size: 15px;
        padding-right: 50px;
    }
    .search-switches,
    #trends,
    #save-search-left {
        width: 238px;
    }
}
/* no right-cell */
@media screen and (max-width: 1167px) {
    #right-cell {
        display: none;
    }
    #about-left {
        display: block;
        box-sizing: border-box; 
        width: 260px;
    }
    #save-search-left {
        display: block;
    }
    #save-search-right {
        display: none;
    }
}
/* no left-cell */
@media screen and (max-width: 880px) {
    #trends {
        display: none;
    }
    #content {
        display: grid;
    }
    .tweet {
        width: unset;
    }
    #left-cell {
        position: relative;
        width: 590px;
        margin-left: auto;
        margin-right: auto;
    }
    .search-switches,
    #save-search-left  {
        width: 568px;
    }
    #center-cell {
        width: 590px;
        margin-left: auto;
        margin-right: auto;
    }
    #about-left {
        display: none;
    }
    
}
/* Mobile UI */
@media screen and (max-width: 590px) {
    #content {
        display: block !important;
    }
    #left-cell {
        width: 100%;
        padding-bottom: 8px;
        padding-right: 0;
        margin-right: 0;
    }
    #center-cell {
        width: 100% !important;
    }
    .search-switches,
    #save-search-left {
        width: calc(100% - 12px);
        margin-right: 0;
        padding-right: 0;
    }
    .search-switch {
        padding-right: unset;
        display: block;
        width: calc(100% - 20px);
    }
    body.move-navbar-to-bottom #left-cell {
        top: 0;
    }
    body.move-navbar-to-bottom #center-cell {
        margin-top: 0 !important
    }
    .modal .tweet {
        width: unset;
    }
}